[2014-02-12 20:09] sckott opened #1 "Roadmap"
A roadmap of things to do/questions/etc.

- [x] Right now, there are a few functions to interface with the CouchDB river plugin. Do we want to make interfaces to other plugins? Which are highest priority?
- [ ] Authentication. What's the best approach to handle the various authentication schemes?
- [x] APIs
    * [Search API](http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/se

[2014-02-12 21:20] sckott opened #2 "Make a vignette"

[2014-02-26 17:44] sckott opened #3 "Figure out problem with RJSONIO and rjson"
For some reason `toJSON` from `RJSONIO` and `rjson` each only work in some cases so that each have to be imported, which is not ideal, and leads to an error on loading the library. See if something can be done.  And ripley will get mad about using `::`

[2014-03-13 05:29] sckott opened #4 "Use cases, services that use Elasticsearch that expose at least part of the http api"
* Nytimes api - They are using elasticsearch for indexing...hmmm, which one was it...
* Ecoengine API

[2014-06-16 18:59] magnu opened #5 "es_search hits limited?"
Hello,
When I use es_search, it tells me results$hits$total is in the 10,000's but then the length of results$hits$hits is only 10.  Is this the intended functionality, and if so how do I get all the results?
Thanks

[2014-07-04 02:50] gaborcsardi opened #6 "Connect to remote server instead of localhost"
[code]

fails with

[code]

because there is

[code]

in `es_connect`.

Is this intentional that one can only connect to localhost?

[2014-07-07 01:40] gaborcsardi opened #7 "index is ignored in es_get"
[code]

The url should be `base/index/type/id`, AFAIK: http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/docs-get.html

[code]

[2014-07-07 01:41] #6 closed, assigned to nobody

[2014-07-07 05:36] #7 closed, assigned to nobody

[2014-08-12 05:44] njordr opened #8 "Install under Windows"
Hello.

Try to install under windows, gives this error:
- installing _source_ package 'elastic' ...
  *\* R
  *\* preparing package for lazy loading
  Warning: replacing previous import by 'rjson::toJSON' when loading 'elastic'
  *\* help
  Error in iconv(lines, encoding, "UTF-8", sub = "byte") :
  embedded nul in string: '\item{allow_no_indices}{b\0\023 Whether to ignore if a wildcard indices exp

[2014-09-15 11:34] sckott opened #9 "ping server function"
`es_ping()`

[2014-09-15 12:37] #9 closed, assigned to nobody

[2014-10-20 13:16] pgibert opened #10 "es_search for aggregations"
hello, thx for this nice interface ES | R
i was wondering if it  was possible to use the es_search ( in rstudio) the same way i  submit  search  with curl  ( see below a search  with curl  returning aggregations from 1 index )
i imagine something like  es_search(index="myindex", type="mytype", .....) but i do not  see how to fill the ...

[code]

best
philippe

[2014-10-20 14:34] #8 closed, assigned to nobody

[2014-10-20 14:34] sckott opened #11 "Add fxn(s) to help folks put bulk data in to ES"

[2014-10-20 15:13] sckott opened #12 "Improve function for doing authentication"

[2014-10-21 16:24] #10 closed, assigned to nobody

[2014-11-05 17:00] sckott opened #13 "Shield integration?"
Elesticsearch just introduced Shield http://www.elasticsearch.org/overview/shield as a plugin

Would be good to accomadate this, if anything is needed on our side

[2014-11-06 01:13] sckott opened #14 "Replace assertthat with stopifnot"

[2014-11-06 01:14] #14 closed, assigned to nobody

[2014-11-06 02:58] sckott opened #15 "Add morelikethis fxn"
http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/search-more-like-this.html

[2014-11-06 07:07] sckott opened #16 "Include more datasets that can be loaded into elasticsearch in pkg"
So all examples should be reproducible by others with local elasticsearch installation

[2014-11-06 07:13] sckott opened #17 "Add benchmark fxn"
http://www.elasticsearch.org/guide/en/elasticsearch/reference/master/search-benchmark.html

[2014-11-06 16:36] sckott opened #18 "Unify alias fxns together"

[2014-11-06 17:26] #18 closed, assigned to sckott

[2014-11-06 17:47] sckott opened #19 "Add fxn for delete doc api"
http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/docs-delete.html

[2014-11-06 18:21] #19 closed, assigned to sckott

[2014-11-08 02:03] #16 closed, assigned to sckott

[2014-11-09 18:24] sckott opened #20 "Rework mapping API fxns"
see http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/indices.html#mapping-management

[2014-11-09 18:27] #20 closed, assigned to nobody

[2014-11-09 18:46] sckott opened #21 "Add index monitoring fxns"
http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/indices.html#monitoring

[2014-11-09 18:46] sckott opened #22 "Add index status management fxns"
http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/indices.html#status-management

[2014-11-12 02:24] #11 closed, assigned to nobody

[2014-11-12 02:29] #15 closed, assigned to sckott

[2014-11-12 03:30] sckott opened #23 "Need to rework the nodes shutdown fxn"
http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/cluster-nodes-shutdown.html

Uses POST and PUT verbs, while i have it on GET right now, WRONG!!!! :snail: :turtle:

[2014-11-12 06:23] sckott opened #24 "Rework pkg api, remove es_ prefix where not needed"

[2014-11-12 22:43] sckott opened #25 "Add more search API fxns"

[2014-11-15 02:34] sckott opened #26 "probably change `raw` parameter to `as`"
to line up with `sofa`. and that allows further options in the future without changing parameter name

[2014-11-15 06:18] #5 closed, assigned to nobody

[2014-11-15 06:18] #3 closed, assigned to nobody

[2014-11-15 18:10] sckott opened #27 "Add test suite"

[2014-11-15 20:43] sckott opened #28 "Add in support for wikipedia river plugin"
https://github.com/elasticsearch/elasticsearch-river-wikipedia

[2014-11-15 20:43] sckott opened #29 "Add in support for twitter river plugin"
https://github.com/elasticsearch/elasticsearch-river-twitter

[2014-11-17 16:52] sckott opened #30 "Fix gbif_geo dataset to have correct coordinates field"
to enable geo shape queries.

[2014-11-17 16:59] sckott opened #31 "Make good parser for elasticsearch errors"
the errors aren't proper JSON, so need to parse it manually, and there are errors for each shard, could errors be different for different shards?

[2014-11-20 08:02] sckott opened #32 "update readme with new function names"

[2014-12-18 16:15] zhengxiaochen opened #33 "How to search a range of documents according to the values in a column?"
Hi, I am using this elastic package to read data from ES. I have already know how to search according to a certain value, but now I wonder, if there is  any founction to query a range of documents according to the values in a column. For example, I have a field named "time", which is like a timestamp (e.g 12345, 12346, 12347,12348, ...) . If I want to get the docements with the field "time" value

[2014-12-18 17:35] #33 closed, assigned to nobody

[2015-01-15 21:38] herrcafe opened #34 "query argument not working"
The argument q= has no effect in the results. This is the result from querying 'JeSuisCharlie':

The results never match the query criteria. Check this out:

[1] "RT @UnDislexico: —Tengo VIH y necesito confesarme.\n—Lo siento, no hay cura."

However, the JSON returned by the server (firehose/_search?q=JeSuisCharlie) works perfectly:

[code]

Am I missing something or there's a problem with the fun

[2015-01-15 22:36] sckott commented on #34
hi @herrcafe - thanks for your question. looking at it now

[2015-01-15 22:53] sckott commented on #34
@herrcafe turns out I wasn't passing on the `q` parameter into the query sent to elasticsearch  - sorry about that. Try installing from Github again, and trying the query again. Let me know if it works...

[2015-01-15 23:01] herrcafe commented on #34
Brill. Trying it right now.

On a related note, have you considered implementing the scroll function to the Search function? Pagination (using size and from) is not ideal for large datasets.

[2015-01-15 23:06] sckott opened #35 "more examples of what can be done with fuzzy searching query strings, etc."
http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#query-string-syntax

[2015-01-15 23:07] herrcafe commented on #34
Working fine now. Check it out:

[1] "#IS: #JeSuisCharlie #AlQuaida: non! #JeSuisCharlie! #musilmans: nous sommes tous Charlie!"

[2015-01-15 23:09] sckott opened #36 "Add scroll search"
* http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/search-request-scroll.html#search-request-scroll
* http://elasticsearch-py.readthedocs.org/en/master/helpers.html

from #34

[2015-01-15 23:09] sckott commented on #34
great, good news :+1:

looking at scrolling search now, in a new issue = #36

[2015-01-16 01:04] sckott commented on #34
closing this - if there are further problems, we can reopen

[2015-01-16 01:04] #34 closed

[2015-01-16 01:17] herrcafe commented on #34
Great work. Thanks!

[2015-01-24 05:00] sckott opened #37 "Push to cran very soon"
About time get er up there

[2015-01-27 06:39] sckott commented on #1
closing, too general

[2015-01-27 06:39] #1 closed

[2015-01-27 06:40] #4 closed

[2015-01-27 06:41] sckott commented on #24
this seems done

[2015-01-27 06:41] #24 closed

[2015-01-27 06:42] sckott commented on #25
what the hell did i mean here... :frowning:

[2015-01-27 06:48] herrcafe commented on #25
You prolly meant adding query criteria like time intervals, keywords, etc. Also an argument to search or scroll.

--
mtb

Sent from my iPhone
(+1) 919-717-5266

[2015-01-27 07:01] sckott commented on #25
@herrcafe thx! though I think I did scroll https://github.com/ropensci/elastic/commit/0eafa29f02aec6f22c6e25cd7f22300f81b6019a

[2015-01-27 23:03] #2 closed

[2015-01-27 23:03] sckott commented on #36
seems done

[2015-01-27 23:03] #36 closed

[2015-01-27 23:08] sckott commented on #17
putting off to next milestone `v0.4` since es docs say this feature is experimental, so doesn't make sense to implement yet  - leaving in pkg, but not exported

[2015-01-27 23:19] sckott commented on #21
these have all been added

[2015-01-27 23:19] #21 closed

[2015-01-27 23:20] sckott commented on #22
all have been addedd

[2015-01-27 23:20] #22 closed

[2015-01-27 23:42] #35 closed

[2015-01-28 15:22] #25 closed

[2015-01-28 15:22] sckott commented on #37
pushing soon

[2015-01-28 15:22] #37 closed

[2015-01-28 16:16] sckott opened #38 "Make cdbriver_ fxns not exported for now"

[2015-01-28 17:00] sckott opened #39 "Elasticsearch DSL?"
Not sure if this is possible, but something along the lines of, e.g.

To attempt to reproduce this

[code]

perhaps

[code]

Or

[code]

from

[code]

So, a series of verbs-ish to construct elasticsearch Query DSL queries

[2015-01-28 17:31] sckott commented on #26
nah, leave as is, not a big deal

[2015-01-28 17:31] #26 closed

[2015-01-28 17:31] sckott commented on #38
not exporting any more, revisit later as to utility of this

[2015-01-28 17:32] #30 closed

[2015-01-28 17:37] #32 closed

[2015-01-28 17:39] sckott commented on #13
nope, this is a premium product, closing

[2015-01-28 17:39] #13 closed

[2015-01-28 17:39] sckott commented on #12
there isn't really any authentication for ES natively, so closing this

[2015-01-28 17:39] #12 closed

[2015-01-29 17:24] sckott opened #40 "Fix URLS in DESCRIPTION file"
fme, they still say `sckott/elastic` boo me :-1:

[2015-01-29 18:46] #40 closed

[2015-02-12 04:39] bajorge opened #41 "JSON Data type of property can not be fetched/queried?"
Hi ROpensci,

Just wondering why I can't get the type of my fields? I am expecting the result would be numeric, ie. integer or float.

Using the mapping command as below.

$out <- index_get(index='gasen')
$names(out$gasen$mappings$com$properties$SCORE)
[1] "type"

When executing to get the data type, the result becomes NULL.

$names(out$gasen$mappings$com$properties$SCORE$type)
NULL

Refer to sour

[2015-02-12 07:02] sckott commented on #41
hi @bajorge - Hmm, it's not common to assign things to variable names with `$` preceding the var name.

I think the problem is though that you are calling the function `names()` on `out$gasen$mappings$com$properties$SCORE$type`, which could be `NULL`,

Instead, just execute `out$gasen$mappings$com$properties$SCORE$type` to get the value for the type, e.g,. could be `string`, `date`, etc.

does tha

[2015-02-12 07:43] bajorge commented on #41
hi @sckott,

Thanks for the quick response!  Run and output is NULL. It does not works.

NULL

I also notice this to other indexes, our example ie, shakespeare and the result is the same. Believe this is how it normally behaves. Seems this is a bug.

NULL

Also from the start, complete trace, base from the documentation.

[1] "line"  "scene" "act"

[1] "properties"

[1] "line_id"       "line_numbe

[2015-02-12 15:55] sckott commented on #41
yes, I get all the same as you, but this part: `names(out$shakespeare$mappings$line$properties$line_id$type)` is where you don't want to use `names()`, just index to the value, where hopefully you also get this:

[code]

[2015-02-13 10:49] arnauldvm opened #42 "docs_mget: Error in status_code(x) : object 'out' not found"
Don't know how to debug this error returned by the elasticsearch library:

[code]
[code]
[code]
[code]
[code]
[code]

* Windows 7 64b
* R engine 3.1.2, RStudio 0.98.1091, elastic library 0.3.0
* elasticsearch 1.2.2

[2015-02-13 10:50] arnauldvm opened #43 "docs_get: length(url) == 1 is not TRUE"
Don't know how to debug this error returned by the elasticsearch library:

[code]
[code]
[code]
[code]
[code]
[code]

* Windows 7 64b
* R engine 3.1.2, RStudio 0.98.1091, elastic library 0.3.0
* elasticsearch 1.2.2

[2015-02-13 14:17] arnauldvm opened #44 "scroll does not seem to handle long scroll_id properly"
I have lots of shards, and that results in very long scroll_id's (e.g. 6961 characters long).
As per [the documentation of elasticsearch](http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/search-request-scroll.html), these should be sent in the body of the request.

It works perfectly with curl, but not in R:
[code]
[code]
Using the body also does not work:
[code]
[code]

[2015-02-13 14:48] arnauldvm commented on #44
Shouldn't the code
[code]
be replace by something like this:
[code]

[2015-02-13 14:53] sckott commented on #44
thx for the report, i'll take a look

[2015-02-13 15:10] sckott commented on #44
@arnauldvm okay, install again from github and try it - should work now. install instructions from github https://github.com/ropensci/elastic#install-elastic

[2015-02-13 15:18] arnauldvm commented on #44
Thx, I'll try this...

[2015-02-13 15:21] sckott commented on #43
@arnauldvm try it again after reinstalling, i just sent a commit https://github.com/ropensci/elastic/commit/6563274cbdb40adcabd8bf2cb48c2eedb723b10f

the `id` parameter is a required parameter for the get document API, so I changed it to be required. you should now get an error if you don't pass `id`

[2015-02-13 16:24] sckott commented on #42
@arnauldvm i changed `docs_mget()` to check the input parameters more thoroughly and throw errors when they aren't passed in correctly.

As with `docs_get()` you need to pass in the `ids` parameter along with `index` and `type`.

OR, you can pass in `index` and `type_id` params (for getting ids from different types within one index)
OR, pass in just `index_type_id` (for getting any number of ids a

[2015-02-16 10:09] arnauldvm commented on #44
Tried today your latest version (installed directly from github), and it does the job.
Thanx very much!

[2015-02-16 15:00] sckott commented on #44
great!

[2015-02-16 15:00] #44 closed

[2015-02-17 08:09] arnauldvm commented on #42
I now get the following error:
[code]

Fine for me.

[2015-02-17 08:10] arnauldvm commented on #43
I now get the error:
[code]

How about the same kind of message as for docs_mget?

[2015-02-17 08:13] arnauldvm opened #45 "Unhandy termination when server failure response contains no error description"
Cf `error_parser function` + `search_POST`/`scroll_POST` ...
In case of error retruned from the server (i.e. `tt$status_code > 202`), and in *specific* circumstances,
if might happen that `content(tt)` has no `$error member`.

Hence the first test in `error_parser` fails like this:
[code]

-> Would be nice to fail more gracefully.

It happened to me after retrieving 3M+ records from my ES server.

[2015-02-17 08:42] arnauldvm opened #46 "Search fails when using (big) numeric arguments"
If the `from` argument is a numeric type and is very big (e.g. 100'000), the call to `Search` fails.

The reason is that the argument will be automatically converted to a string by `httr` (`build_url` function uses `paste0` which uses `as.character`).
But:
[code]
and ES does not expect this input.

My workaround is to use `from=sprintf("%d", current)` instead of `from=current`. (=> *not blocking*)

[2015-02-17 19:38] sckott commented on #43
@arnauldvm hmm, i can't do that because `docs_mget()` has multiple options of data input in which you can (as explained in #42 )

* pass in only `ids`, and `index`, and `type`, OR
* pass in only `index` and `type_id` (for getting ids from different types within one index), OR
* pass in only `index_type_id` (for getting any number of ids across different indexes)

these are to support different use

[2015-02-17 19:38] sckott commented on #43
closing, seems solved

[2015-02-17 19:38] #43 closed

[2015-02-17 19:38] sckott commented on #42
great

[2015-02-17 19:38] #42 closed

[2015-02-17 20:08] sckott commented on #45
@arnauldvm thanks for the report.  I'm about to push a change that shouldn't cause that stop error in your case, but can you tell me what is returned in the body of that response that errored?  I assume it was just an empty body then?

[2015-02-17 20:10] sckott commented on #45
@arnauldvm  you can reinstall and try again...

[2015-02-17 20:12] sckott commented on #46
k, will make a fix for this, you can always pass a number like `10000000L`, which won't get converted to sci. notation

[2015-02-17 22:37] tobiokanobi opened #47 "Elasticsearch 1.2.1"
Dear Scott,

I have to access an elastic search 1.2.1 data base, but it seems like that it is not supported with elastic, isn't it? When I try to connect like

connect(es_base = "ubicity.ait.ac.at:8080/es/", es_user = NULL, es_pwd = NULL, es_key = NULL, force = FALSE)
(I tried it in several different versions)

I only get as return an empty error prompt
Error: (but no error message)

Is it because

[2015-02-17 22:41] sckott commented on #46
i could adjust options like `options(scipen=999)` so that numbers passed in aren't converted to scientific notation, but that is considered bad practice as changing that option does it in the global namespace, will see how to do it just in the package namespace

[2015-02-17 23:02] sckott commented on #47
hi @tobiokanobi -

so `ubicity.ait.ac.at:8080/es/` + port `:9200` would lead to the elasticsearch DB? just making sure. that should work as the defaultl port if not specified is 9200

i'm looking into compabibility with other ES versions, more soon...

[2015-02-17 23:08] tobiokanobi commented on #47
hi scott,

thanks for the fast reply! The port is 8080. As example, if I use rjson/jcurl and enter

count <- fromJSON(getURL("http://ubicity.ait.ac.at:8080/es/twitter_all_geo/_count"))

I get the numbers of documents in "twitter_all_geo" as I expect it. Hence, I can access ES via URL.

[2015-02-17 23:28] sckott commented on #47
ah, right, i haven't accounted for ES instances that don't require a port number. will push a change soon

[2015-02-18 00:56] sckott commented on #47
okay @tobiokanobi can you try it again after reinstalling

[code]

the `connect()` function now doesn't set a port by default  - though since I do most of my dev on localhost:9200, i set `es_port = 9200` in my `.Rprofile` file, and this is read in. you can do the same for the base url via `es_base` if you want to set the default base url

[2015-02-18 01:04] sckott commented on #47
now when you run `connect()` you should get

[code]

[code]

[2015-02-18 01:30] sckott opened #48 "Fix auth workflow so that if use/pwd or other auth used, that passed to http request"
e.g.,

* `connect(es_user="scott", es_pwd="foobar")` then we use `httr::authenticate(...)` and pass to e.g., `GET()`
* etc. for other auth methods,

[2015-02-18 07:27] tobiokanobi commented on #47
Sckott,

[2015-02-18 07:27] #47 closed

[2015-02-18 07:30] tobiokanobi commented on #47
Sckott, excellent! I'll try in an instance and thanks a lot for your support (you saved my thesis 😉)
-tobias

[2015-02-18 13:33] arnauldvm opened #49 "No result returned by Search if type contains special characters"
[code]
Search should URL-encode `type`:
[code]

[2015-02-18 15:40] sckott commented on #49
@arnauldvm okay, try again after reinstalling

haven't fixed yet across the pkg, but `Search()` should work now

[2015-02-18 19:02] sckott commented on #49
closing this as should be fine now, reopen if still not fixed

[2015-02-18 19:02] #49 closed

[2015-02-18 19:03] sckott commented on #41
closing due to inactvity

[2015-02-18 19:03] #41 closed

[2015-02-18 20:15] tobiokanobi commented on #47
Tested and works fine Scott, thanks again for your help!

[2015-02-18 20:18] sckott commented on #47
great

[2015-02-19 20:45] sckott commented on #39
So the proposal is to:

* Start with an index (optionally a
* Have a suite of functions that construct the various kinds of queries that can be done, e.g,. `bool()`, `range()`, `geo_shape()`, etc.
* Use `lazyeval` package to combine the above calls together
* at end pass to `Search()`

so the workflow may be:

[code]

__OR__

maybe each function could execute `Search()` if not passed to another qu

[2015-02-26 00:56] sckott opened #50 "Warn users about security risks on public IP addresses"

[2015-03-20 00:11] tobiokanobi opened #51 "need support on geo filter"
Dear Scott,

I try hard to filter geo distance, and I tried to work it out according to your examples, but something goes wrong. Maybe you have an idea?

The error I get looks like that:

Error: SearchPhaseExecutionException[Failed to execute phase [query], all shards failed
1st shard:  [_PrRwo5wRTG9x0pPbGoPaQ][twitter_all_geo][1]: SearchParseException[[twitter_all_geo][1]: from[-1],size[-1]: Pars

[2015-03-20 01:31] sckott commented on #51
@tobiokanobi thanks for the report. I put the code in code blocks, hope that's okay

[2015-03-20 06:15] sckott commented on #51
Try the below, and tell me if it works. It just uses example data in the package

[code]

Then query

[code]

If that works, then at least we have that in common.

[2015-03-20 06:16] tobiokanobi commented on #51
@sckott absolutely (wow- thanks for the fast reply!)

I'll try it in a second!

[2015-03-20 06:19] sckott commented on #51
your query may be malformed. I think following the docs here http://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-geo-distance-filter.html you maybe want

[code]

[2015-03-20 10:57] tobiokanobi commented on #51
Scott,

Thanks for your input! If I mark according the given example, it looks like that the query works, but...
[code]
...but I get at the end this error when using the previously listed code :

**Error in y$error : Object of Type 'externalptr' is not subsetable**

Do you know why? I believe it has something to do with the used jsonlite package.

-Tobias

[2015-03-20 16:43] sckott commented on #51
@tobiokanobi I don't think I have access to that server, it may be down right now.

Anyway, does that query in your last comment work on the command line? In another context?  Just trying to make sure this is a problem in the elastic R package.

[2015-03-22 20:40] tabardar opened #52 "Connection to remote es servers fails"
connections to remote elasticsearch servers always fails
the following should connect but always attempts a local server

[code]

[2015-03-22 21:13] sckott commented on #39
was dev-ing this on `dsl` branch, moved to seaerpate package https://github.com/ropensci/elasticdsl

[2015-03-22 21:13] #39 closed

[2015-03-22 21:15] sckott commented on #45
assume this is fixed due to inactivity

[2015-03-22 21:15] #45 closed

[2015-03-22 21:30] sckott commented on #52
@tabardar thanks for the report. What version of `elastic` are you using?

[2015-03-22 21:41] sckott commented on #52
@tabardar I just tried with the most recent version I have on master branch, connecting to a local version of ES running in a docker container, and it works fine. You can put the port in the url or separate them

[code]

or

[code]

[2015-03-22 22:59] sckott opened #53 "Add docker instructions to readme, vignette"

[2015-03-22 23:28] sckott opened #54 "Add instructions on updating elasticsearech w/o losing data"

[2015-03-23 04:44] #53 closed

[2015-03-23 04:44] #54 closed

[2015-03-23 08:39] tabardar commented on #52
Hello @sckott

I'm using ...
R version 3.1.3 (2015-03-09)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 14.04.2 LTS
locale:
 [1] LC_CTYPE=en_GB.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=en_GB.UTF-8        LC_COLLATE=en_GB.UTF-8
 [5] LC_MONETARY=en_GB.UTF-8    LC_MESSAGES=en_GB.UTF-8
 [7] LC_PAPER=en_GB.UTF-8       LC_NAME=C
 [9] LC_ADDRESS=C               LC_TELEPHONE=C
[11] LC_MEASUREM

[2015-03-23 13:11] tabardar commented on #52
Sorry - accidently closed it - doh!

[2015-03-23 16:36] sckott commented on #52
Thanks for the nice words. And sorry about the trouble.

Can you tell me if elasticsearch is available on port 9200 on your remote IP?  Or a different port? Above you have `connect("d630")` ? What is `d630`?  I assume you put a valid IP in there? Do you put a port in the url?  or set it with the parameter `es_port` in `connect()`?

[2015-03-23 17:35] tabardar commented on #52
Hello

The value "d630" is the network name of a remote IP address; it translates to 192.168.1.69. The machine I am on has an IP address of 192.168.1.74. If I type "ping d630" from a linux command prompt on the .74 machine, I get responses from the .69 address. If I then type "curl d630:9200" I get a response from the Elasticsearch server from the .69 address saying that all is well.

When using e

[2015-03-23 17:47] sckott commented on #52
Hmm, both of those IP addresses are down when I try them. Are they just temporarily down right now?

[2015-03-23 17:54] tabardar commented on #52
They are private in my network - you would have to use two of your own machines or find a publicly available Elasticsearch server. In my setup, the .74 machine was a Linux instance running using Oracle VirtualBox inside my Windows 7 machine.

[2015-03-23 18:06] sckott commented on #52
@tabardar oh, right, was thinking it might be a public IP I could test.

could you try installing the latest `devtools::install_github("ropensci/elastic")` and retry, and see if you ge the same thing

[2015-03-23 20:17] tabardar commented on #52
@sckott - I tried devtools - after some experimenting I found that connect("192.168.1.69") hangs whereas connect(es_base="http://192.168.1.69",es_port="9200) works and successfully allows the subsequent ping() to work - yay. I also found that options("es_base"="http://192.168.1.69") works with the devtools version.

[2015-03-23 20:50] sckott commented on #52
@tabardar great!

right, you can specify `es_base` and `es_port` either through the `connect()` function, or just setting them with `options()` as `connect()` just writes to options for each R session.

Those are stored just for the session though. If you very often use that base url, you could set it in your `.Rprofile` file

[2015-03-23 20:50] #52 closed

[2015-03-23 20:51] sckott commented on #51
@tobiokanobi any feedback on this?

[2015-03-23 21:21] tobiokanobi commented on #51
Still fighting...the es machine was down over the weekend. The query seems to fine now, but whatever I try, I get 0 results. I try now different type of queries, maybe I have a misunderstanding in between me ans ES queries...

[2015-03-23 21:39] sckott commented on #51
Okay, well let me know what happens

[2015-03-23 21:57] tabardar commented on #52
@sckott  - when will the next version (I assume 0.4.0) be officially released so I can take advantage of this?

[2015-03-23 22:00] sckott commented on #52
@tabardar planned for a few weeks from now https://github.com/ropensci/elastic/milestones - should be about then. But you can use the github version right?

[2015-03-23 22:14] tobiokanobi commented on #51
Oh Scott...It works now. I found my i...mistake...it is case sensitive...so I simply put the language query in capital "DE", or "EN" and it works...

[code]
My mistake is based on the fact, that if I query it with an simply URL, I can keep it lower case:
[code]

As a small remark: I tried different cmd and found that index_get can bring the following errors:
[code]

But the following get_index see

[2015-03-23 22:23] sckott commented on #51
Glad you got it working.

What version of `elastic` are you using? and what version of `httr` do you have, you can just paste in output of `session_info()` or `sessionInfo()`

[2015-03-23 22:23] tabardar commented on #52
@sckott - yes of course - the github version will be fine - if I find any other "features" ;) I'll let you know

[2015-03-23 22:26] tobiokanobi commented on #51
Okay..a little setback...if I run it against a much bigger database I still get the error:

'''R

Error in y$error : Objekt of Type 'externalptr' is not subsetable
'''
If I figure out on how to query just the index in steps, maybe something like from... to...

The output of sessionInfo
'''R

R version 3.1.2 (2014-10-31)
Platform: x86_64-apple-darwin13.4.0 (64-bit)

locale:
[1] de_AT.UTF-8/de_AT.UT

[2015-03-23 22:54] sckott commented on #51
See the parameters `from` and `size`

[2015-03-23 22:59] sckott commented on #51
the error probably comes from here https://github.com/ropensci/elastic/blob/master/R/search.r#L82

I'm not sure why you're getting that though. That  line only triggers if you're HTTP status code indicates a problem happened with the Elasticsearch query.  So there is an error, but you are not getting that `error` element returned from the parsing of data that comes back from Elasticsearch

[2015-03-23 23:57] sckott commented on #51
@tobiokanobi Okay, try reinstalling again from github `devtools::install_github("ropensci/elastic")`

I changed the error parser a bit. I think it was failing on 504 errors, which is what I was getting, and I think you were getting, with your example code.  The 504 was returning a small html body that was failing to parse. Now `Search()` returns the 504 error correctly

[2015-03-24 22:59] tobiokanobi commented on #51
@sckott
Did and currently everything runs fine! Thanks - as I heard today, the server is a little bit on its limits and runs once in a while out of memory, causing the ES to fail.

Thanks...(but be sure that I have some more questions!)

-Tobias

[2015-03-24 22:59] #51 closed

[2015-03-24 23:30] sckott commented on #51
great, glad to get more questions.

[2015-03-30 06:54] KrishnaPG commented on #52
@sckott Thanks for sharing your good work - it is very helpful.

I too faced the same situation as @tabardar and thought of sharing it here for benefit of others.

Looks like if you use `connect("192.168.56.106")` without `http` it has some problems. For example, I was able to put data into the ES using docs_bulk() add see the data in there, but none of other commands (such as docs_get, Search...)

[2015-03-30 16:10] sckott commented on #52
thanks @KrishnaPG  I guess you were the one that commented on the blog post too.  I just pushed a change so that `http` is added if it is missing in the base url passed in.

I also added back the default port to be 9200 so set that to NULL if you don't need a port

[2015-03-30 17:44] KrishnaPG commented on #52
Yes @sckott . Thanks for the changes, they are helpful andwill make it easy for new comers to adapt and do quick test.

[2015-03-30 17:44] sckott commented on #52
:+1:

[2015-03-30 18:20] sckott opened #55 "Handle case when `-k` would be needed"
E.g. if a username and password is used and using https, seem like `curl -k` is required, but maybe it's not?  Should be able to handle this internally within `elastic`

[2015-03-31 15:35] sckott commented on #29
rivers are deprecated, nevermind https://www.elastic.co/blog/deprecating_rivers

[2015-03-31 15:35] #29 closed

[2015-03-31 15:35] sckott commented on #28
rivers are deprecated, nevermind https://www.elastic.co/blog/deprecating_rivers

[2015-03-31 15:35] #28 closed

[2015-03-31 15:35] sckott commented on #38
rivers are deprecated, nevermind https://www.elastic.co/blog/deprecating_rivers and remove

[2015-03-31 15:35] #38 closed

[2015-03-31 22:45] tobiokanobi opened #56 "count: needs upper case in query term; search: needs lower case query term"
Dear Scott,

I found an interesting issue. If I run a  "search_type:count", the query needs in the term an upper case. But if I query "search" (with an aggregation), I need for the same query term an lower case. If I do it opposite I get zero return.

[code]

But if I run this query,

[code]
It took me some time to figure it out - not really a problem but a little bit annoying (late night, tired :

[2015-04-01 00:36] sckott commented on #56
@tobiokanobi are you sure this difference in the two queries has to do with whether you use `search_type = count` or not?  What do these two queries do in a different client or on the command line?  Same result?  I'm trying here and not getting the same as you (but of course I don't have the same data)

[2015-04-01 15:40] tobiokanobi commented on #56
That's very likely possible - it seems that at least one index has lower case entries, while most of them have upper case entries.

Sorry for bothering you with this matter!

-Tobias

[2015-04-01 15:40] #56 closed

[2015-04-01 15:51] sckott commented on #56
@tobiokanobi do let me know if you get the same thing in another place, that is, not with this client, so that I know if I should change anything here

[2015-04-02 01:37] KrishnaPG opened #57 "Bulk loading data from data frames"
With the `docs_bulk()` is it possible to load data that is already in memory (something like dataframe) ?

Looks like `docs_bulk` accepts only file as the argument - so wondering what is the right way to load data in bulk into ES from memory, such as data frames?

[2015-04-02 01:47] sckott commented on #57
thanks for the question @KrishnaPG :0

I've actually just been thinking about this problem.  The elasticsearch bulk API only takes in a weird format http://www.elastic.co/guide/en/elasticsearch/reference/current/docs-bulk.html  We can make this format easily of course, so its fine with small data.frames. But with very large data.frames, the time to create the file alone is quite a long time. I've

[2015-04-02 01:49] sckott commented on #57
@KrishnaPG  what size data.frame's do you deal with?

[2015-04-02 05:36] KrishnaPG commented on #57
Thanks @sckott The data frame sizes vary and could be quite large.

I agree with you about the time it takes to create the json (also the memory).

However, I think its okay if it is documented that caller should take care of calling the `docs_bulk` only with batched rows (say 1000 at a time) and call it multiple times for large data frames in a loop (where they also get a chance to take care of t

[2015-04-02 15:31] sckott commented on #57
@KrishnaPG Okay, reinstall and try `docs_bulk()` with a data.frame. I don't have chunking yet, but think I should add it

[2015-04-02 16:06] sckott commented on #57
@KrishnaPG okay, chunking added

[2015-04-02 17:14] sckott opened #58 "Resurrect URI only search fxn"
http://www.elastic.co/guide/en/elasticsearch/reference/current/search-uri-request.html

Mostly users will want POST requests as they are more flexible, but there may be cases where GET requests are needed, e.g.,:

* When POST requests are blocked by a server, then only GET seaerches will work

[2015-04-02 19:54] #48 closed

[2015-04-02 19:54] #58 closed

[2015-04-02 19:55] sckott opened #59 "Get elasticsearch running on Travis so tests can run, if possible"

[2015-04-02 20:21] sckott commented on #59
done

[2015-04-02 20:21] #59 closed

[2015-04-02 20:22] sckott commented on #55
done, added username/password support to all fxns, if user sets up server wrong, they still may need this, but nothing on our side to do

[2015-04-02 20:22] #55 closed

[2015-04-02 20:22] sckott commented on #27
have some tests, but definitely need to fill out more

[2015-04-02 20:23] sckott commented on #27
shakespeare data set is installed so far on Travis, so test with that probably

[2015-04-03 03:13] KrishnaPG commented on #57
@sckott  cool - worked right the first time - thanks much for the changes. Now we have a royal way to insert any data into ES :)

[2015-04-03 03:31] sckott commented on #57
@KrishnaPG great, glad it works, no progress bar yet, might add that

[2015-04-03 03:37] KrishnaPG commented on #57
BTW, been meaning to ask this for sometime, is there anyway these functions can be invoked through a namespace (something like `es::search` or `es.search` etc..).

The reason is soon more will be adding their own packages (say for mongodb etc.) which may have their own connect, search etc. which will clutter the whole system. (I see already you had to make compromise with `Search`)

Besides, it so

[2015-04-03 05:39] sckott opened #60 "Bulk loading from R objects other than data.frames"
* lists
* matrices

#57

[2015-04-03 05:44] sckott commented on #57
@KrishnaPG I have done that in other pkgs, though I kind of favor explicit namespacing e.g., `elastic::ping()` if there is a conflicting function name in another package, which you gave an example of above. Also, since this package is on CRAN i'd rather not break the package API

[2015-04-03 10:24] KrishnaPG commented on #57
ok `elastic::` was what I was looking for (didn't know the namespace name). Will try it out  `elastic::search` etc. Thanks for the pointer.

[2015-04-03 14:15] #57 closed

[2015-04-03 18:53] sckott commented on #57
progress bar added in 0e2bc6ce544bf537fbb0c9f19188845d504c223b @KrishnaPG

[2015-04-07 20:31] #50 closed

[2015-04-07 20:37] #60 closed

[2015-04-07 20:39] sckott commented on #31
considering this dealt with for now, can change if users suggest change, etc.

[2015-04-07 20:39] #31 closed

[2015-04-07 21:39] #46 closed

[2015-04-07 21:39] sckott commented on #46
@arnauldvm let me know if this works for you now, should be fixed.

[2015-04-08 09:32] tobiokanobi opened #61 "on windows system: cat_XXXX does not work while on OS X works"
Dear Scott,

My code works quite well on OS X, but today I tried to run the same on Windows, and I ran into the following issue:

all elastic cat_function() cause the following error :

[code]
Same code - especially cat_indices, worked yesterday night fine on OS X.

I tried now to download and install the latest elastic package (using devtools), but now I have a hardtime to start a connection at a

[2015-04-08 13:50] sckott commented on #61
hi - For the connection, I added `9200` back as the default port, so just set the port to NULL

`connect("http://ubicity.ait.ac.at:8080/es", NULL)`

Maybe there is a better way to do it, not sure. I imagine that it is common to have a port `9200` on elasticsearch instances for many people, but maybe not?

---------

For `cat_*()` functions: I'll look into that. I guess I hadn't really tested those

[2015-04-08 15:19] sckott commented on #61
@tobiokanobi I'm trying this out on my windows virtual machine, and all the `cat_*()` functions work fine.  Do the cat_ functions work after you are connected correctly?

[2015-04-08 15:20] sckott opened #62 "Make sure functions fail with informative messages when not connected to a ES server"

[2015-04-08 16:54] sckott commented on #17
The docs for this endpoint seem to be completely gone now, so closing this now, and removing from the pkg

[2015-04-08 17:42] #17 closed

[2015-04-08 17:42] #23 closed

[2015-04-08 17:42] #62 closed

[2015-04-08 17:44] sckott opened #63 "Fix/make sure basic auth is working across all fxns"

[2015-04-08 22:44] #63 closed

[2015-04-08 23:21] sckott commented on #27
more tests in now, still more to do

[2015-04-09 11:46] tobiokanobi commented on #61
Scott,

the connection works with port=NULL again, and the cat*() commands as well.  Thanks - seems like that I updated the elastic package on my windows machine but not on my mac and this causes local confusion!

A small remark regarding ````R cat_indices() ````, the output is great, put if I try to assign it directly to a data frame, list or what so ever... with

[code]
p, the list, or the data.

[2015-04-09 11:47] #61 closed

[2015-04-09 15:55] sckott commented on #61
Hi @tobiokanobi the `cat`  APIs http://www.elastic.co/guide/en/elasticsearch/reference/current/cat.html work by printing text to the screen and are sort of meant for information purposes, and thus are not returned in json format, but in simple text format, e.g. see http://ubicity.ait.ac.at:8080/es/_cat/indices

We could coerce the data from cat APIs into R structures, but at least that's not what

[2015-04-09 15:56] sckott opened #64 "optionally allow capture data from cat APIs into R objects"
see how easy it is across all cat APIs to optionally allow capturing data into a list or data.frame

#61

[2015-04-14 14:53] #64 closed

[2015-04-14 16:18] sckott opened #65 "Add missing parameters in API methods"

[2015-04-14 16:26] sckott opened #66 "Add update index settings fxn"
http://www.elastic.co/guide/en/elasticsearch/reference/current/indices-update-settings.html

[2015-04-14 19:19] sckott opened #67 "See if docs_bulk() can get faster"
given changes in jsonlite https://www.opencpu.org/posts/jsonlite-release-0-9-16/

[2015-04-14 20:42] sckott opened #68 "Close text connections error"
With large data.frame's getting an error in `docs_bulk()` for text connections

[code]

[2015-04-15 01:53] abresler opened #69 "Connecting to 3rd Party Hosts Like Bonsai"
This probably should be in the service providers but does anyone know how to connect to outside clusters?  I have setup an account which provides you an amazon cluster URI but I am having trouble connecting anyone know what to do?

[2015-04-15 04:14] KrishnaPG opened #70 "how to work with SaaS / hosted ES servers? (https:// access trouble)"
To utilize hosted ES services (such as http://bonsai.io ), they provide `https://` access.

For example, one of our hosted ES clusters is: [https://4akklnpoaa:dt3rqjyspu@ghostlrn-3329452503.us-east-1.bonsai.io](https://4akklnpoaa:dt3rqjyspu@ghostlrn-3329452503.us-east-1.bonsai.io)

The above link works great if you put it directly into the browser. But, from this package, it is not clear how to ma

[2015-04-15 04:51] abresler commented on #70
Good timing on question same as mine!!

----------------------
Alex Bresler
abresler@asbcllc.com
​www.asbcllc.com​
917-455-0239​ (cell)​
On Apr 15, 2015 12:14 AM, "Gopalakrishna Palem" <notifications@github.com>
wrote:

[2015-04-15 05:14] sckott commented on #69
@abresler thx for the question. don't know. I'll look into this

[2015-04-15 05:14] sckott commented on #70
see also #69

[2015-04-15 05:25] KrishnaPG commented on #70
Sorry - I might have missed the earlier question #69 (searched for previous issues on `https://` and when found none raised the new issue). Some of our students at http://live.my-classes.com/ are using this package to load data into ES and was having issues with https:// - I was trying to find some quick solution / workaround to help them meet their weekly deadlines.

[2015-04-15 05:29] sckott commented on #70
@KrishnaPG looking at it now

[2015-04-15 05:36] sckott commented on #69
signed up for an account - and seems to work fine, here's how it worked for me:

[code]

[2015-04-15 05:37] sckott commented on #69
let me know if that worked @abresler @KrishnaPG

[2015-04-15 05:37] KrishnaPG commented on #70
Thanks @sckott . By the way, if it helps, I found the below to be needed to make `https://` work without problem with RCurl

[code]
The `httpauth` and `ssl.verifypeer` paramters were the key (to avoid certificate validation errors and auth mismatches). Just thought of sharing it here, in case it helps to implement similar thing inside the methods of this package.

[2015-04-15 05:38] sckott commented on #70
@KrishnaPG Right, using `ssl.verifypeer` is not considered best practice though, and httr takes care of https well.  See #69 - i think you just need to set up connection correctly. let me know if that works.

[2015-04-15 05:45] abresler commented on #69
Will try again does it reference the amazon uri or the baseline bonsai one?

----------------------
Alex Bresler
abresler@asbcllc.com
​www.asbcllc.com​
917-455-0239​ (cell)​
On Apr 15, 2015 1:37 AM, "Scott Chamberlain" <notifications@github.com>
wrote:

[2015-04-15 05:47] KrishnaPG commented on #69
Interesting. Was doing similar thing with `connect()` except I did not use the `es_port=NULL` parameter (thinking its optional and has default value).

Now, when I explicitly supply the `es_port=NULL` as one of the parameters - it started working fine.

Cool.

Thanks much @sckott Its very helpful.

[2015-04-15 05:48] #70 closed

[2015-04-15 06:14] sckott commented on #69
@abresler its the bonsai url, e.g., `https://helloworld-1102077797.us-west-2.bonsai.io`

@KrishnaPG right, need port as `NULL`, since i mostly use it on my machine, i have a port 9200 as default - i can try and see if I can detect whether there is simply a port problem on connection, maybe even trying with 9200 and without automatically

[2015-04-15 14:30] abresler commented on #69
That worked thanks guys!

[2015-04-15 14:30] #69 closed

[2015-04-24 07:18] suensummit opened #71 "A typo in connect.R"
in the line https://github.com/ropensci/elastic/blob/master/R/connect.R#L95
`cat(paste('uri:      ', fun(x$base)), "\n")`
should the "uri" be replaced by "url" ?

[2015-04-24 13:27] sckott commented on #71
@suensummit thanks for the message - Well, AFAIK a `url` is a type of `uri`, but I guess `url` is more well known - and correct in this case because what's printed there includes the protocol (`http`, or `https`) - well, both are correct in this case

I'll just can change it :smile:

see for reference https://danielmiessler.com/study/url_vs_uri/

[2015-04-24 13:44] #71 closed

[2015-04-25 01:18] richfitz commented on #68
In `httr:::body_config` there is a non-closing file

[code]

[2015-04-25 05:19] sckott commented on #68
thanks!

well, it works (can load all of nycflghts, 370K rows in 1000 row chunks) if I close all connections at the end of each POST request, but i wonder if that's dangerous, e.g., https://github.com/ropensci/elastic/blob/conn/R/docs_bulk.r#L99

i played around with fiddling with `httr::body_config()`, but it's not exactly clear how to fix it, and anyway, would be hard to get a fix into httr i im

[2015-04-25 06:18] richfitz commented on #68
I think a reasonable way of doing this would be to use the named temporary file approach (tempfile("elastic")) and then close all connections that we opened afterwards:

[code]

[2015-04-25 06:49] richfitz commented on #68
Also: https://github.com/hadley/httr/pull/188

[2015-04-25 14:03] sckott commented on #68
@richfitz right, named temp file it is.

good find on that PR, been 3 months though :(

[2015-04-25 16:14] #68 closed

[2015-04-30 18:13] sckott commented on #67
it's pretty fast now, closing

[2015-04-30 18:13] #67 closed

[2015-04-30 22:18] sckott commented on #27
done for now

[2015-04-30 22:18] #27 closed

[2015-05-01 00:16] sckott opened #73 "update pkg level man file before v0.4 push"

[2015-05-01 01:06] #73 closed

[2015-06-03 18:57] dbuijs opened #74 "More details on connecting to remote ES (i.e. api.fda.gov)?"
Hi,

Not sure if this the right place to put this. I'm interested in getting data into R from the US FDA (open.fda.gov). They say that their API is ElasticSearch. My R session crashes or gives me an error when I try to use the elastic package to connect.

     connect("https://api.fda.gov")

Causes R to hang, and forces me to terminate the session. I suspect because the FDA site isn't responding t

[2015-06-03 19:13] arturom commented on #74
I just played around with the FDA API a little. It seems there is a API wrapping Elasticsearch. The R package is expecting to interact directly with the Elasticsearch API but it's not accessible. This is normal for public-facing sites for the sake of the cluster's safety since Elasticsearch doesn't provide security out of the box.

It's still a good Idea for them to mention their data is fetched u

[2015-06-03 19:26] dbuijs commented on #74
Yeah, I was just figuring that out. For anyone else trying to get this data from R, it's looking like RCurl and friends are the way to go. Sorry if this was a bit off topic.

[2015-06-03 19:26] #74 closed

[2015-06-03 19:46] sckott commented on #74
hi @dbuijs - thanks for the message. not the wrong place, good to hear about these use cases.

that's right that they don't actually expose the Elasticsearch port.  This client does expect to connect to an elasticsearch server directly.

[2015-06-16 14:56] paulmoto opened #75 "docs_bulk issue"
When doing uploads with docs_bulk, it takes a long time, then I get 400 errors and R crashes. I can see that about 90% of my documents are getting indexed before it crashes. Using a PUT with httr works correctly, so the files are formatted correctly. POST did the same thing as docs_bulk, maybe it's using post instead of PUT? I don't see why it should matter which is used, but it apparently does.

[2015-06-16 16:25] sckott commented on #75
thanks for your message @paulmoto - looking at this now, I don't think PUT vs. POST should be a problem, but I'll check.

Where is your Elasticsearch instance running?

How big is the data you're putting in?

[2015-06-16 17:01] paulmoto commented on #75
Running ES 1.5.2 I've got about 3 GB total, but I've broken it onto ~10MB chunks. Digging deeper, I see character encoding issues on the files that do upload without crashing, maybe this is related? Sending ü is giving me a
"MapperParsingException[failed to parse [concept]]; nested: JsonParseException[Invalid UTF-8 start byte 0x96\n at [Source: [B@4601be2d; line: 1, column: 26]]; "

even though it

[2015-06-16 17:16] paulmoto commented on #75
Probably the character encoding problems are making it take a long time, and I can figure out the character encoding (hopefully). The issue here is that R crashes when the response finally comes back.

[2015-06-16 17:31] sckott commented on #75
@paulmoto regarding the encoding error. Can you try uploading via curl on the command line and see if you get the same error? Trying to figure out whether this is a problem with the `elastic` pkg or not

[2015-06-16 17:32] sckott commented on #75
Weird that R crashes. I haven't had that problem.

[2015-06-16 18:29] paulmoto commented on #75
Using curl I get my response faster, the character encoding issues are still there, and for the files that crashed R the response is gigantic a gigantic list of 2-3 digit numbers followed by the standard response saying which documents were created. I imagine the giant list of numbers filled my memory and crashed R.

[2015-06-16 19:02] sckott commented on #75
Oh, i wonder if the output from `docs_bulk()` printing to the R console is what you're talking about, and may be the problem here, overflowing what the R console can handle or something like that

[2015-06-16 19:14] sckott commented on #75
Are you loading in via a data.frame or list in R, or via a file?

[2015-06-16 19:20] paulmoto commented on #75
I'm using .txt files. The character encoding was due to R not saving the txt as UTF encoded, not a big deal. I'm looking in to what is causing this extremely long response.

[2015-06-16 19:59] sckott commented on #75
Hmm, we don't write your file if you pass in file path, see  https://github.com/ropensci/elastic/blob/master/R/docs_bulk.r#L98-L112  so we're not changing encoding

[2015-06-16 20:22] paulmoto commented on #75
The file was generated from another elasticsearch query which I parsed and wrote to a text file using write instead of writeLines, which caused the character issue. This doesn't look like a problem with docs_bulk. There's gotta be something in my text files causing the extremely long response, which is the problem here.

[2015-06-16 21:38] paulmoto commented on #75
The only difference between using PUT in httr and docs_bulk is that if I use PUT, I can view my response without crashing.

[2015-06-16 21:48] sckott commented on #75
Hmm, okay, I'll keep looking into that, though the documentation I've seen always uses POST

have you seen the docs for bulk API https://www.elastic.co/guide/en/elasticsearch/guide/current/bulk.html  especially the section at the bottom on size of data. Have you played around with size of each chunk of documents?  e.g., in the `docs_bulk()` function you can change chunk size with the `chunk_size`

[2015-06-17 14:40] paulmoto commented on #75
I figured out my issue. In jsonlite, the toJSON function drops the names of named vectors(had to switch to using lists). This was happening for around 10% of my documents, generating lots of parsing errors, which was the long response. I was able to parse the response I got out of PUT to find the errors, whereas using docs_bulk I crashed when trying to view the response.

[2015-06-17 17:07] sckott commented on #75
can you share one of the documents that produced a problem? So I can see if I can fix in the package

[2015-06-17 18:44] paulmoto commented on #75
Unfortunately, I can't share my data because it contains user-specific information. The files were about 10 MB with about 5000-7000 documents in them (approx 10% of documents didn't match my mapping). I would imagine that trying to upload any data that doesn't match the mapping would do the same thing.

[2015-06-17 20:17] sckott commented on #75
@paulmoto okay, understand about personal data.

So when you changed to inputting R lists, `docs_bulk()` worked for you?  Or were there still problems?

[2015-06-17 20:19] paulmoto commented on #75
Yes, when everything is correct, docs_bulk() works fine.

[2015-06-17 21:16] sckott commented on #75
can you try reinstalling `elastic` from github then try `docs_bulk()` again with your data?

there is a hidden parameter in `jsonlite::toJSON`  that let's us convert named vectors to lists, though the maintainer says he will drop it soon https://github.com/jeroenooms/jsonlite/pull/82 so don't want to rely on that.

instead, i'm just checking for a vector and converting into a list with `as.listI()

[2015-06-17 21:16] sckott commented on #75
@paulmoto forgot to mention you, let me know if that works

[2015-06-17 21:57] paulmoto commented on #75
I wasn't using docs_bulk to upload an R object, so I doubt this would affect me at all. I had written my own (bad) code to write the text files. If you've made changes that would affect me, I can test this tomorrow.

[2015-06-17 22:00] sckott commented on #75
@paulmoto okay, so then I don't understand how you're using `docs_bulk()` - are you passing in file paths to the function?

[2015-06-18 00:42] paulmoto commented on #75
Yes. The toJSON vector issue was why I had incorrectly formatted files that I then passed to docs_bulk. The long response generated by elasticsearch because of the incorrectly formatted files caused R to crash somehow when I passed the file through docs_bulk. Passing the same file with a PUT received the same response (presumably) and did not crash.

[2015-06-24 12:06] zhengxiaochen opened #76 "Error_'Calloc' could not allocate memory"
Hello Sckott,
I met a memory problem when searching a large amount of data.
I was searching data hour by hour. It works fine at first, but after a few times, the error appears:
"Error in readBin(content, character()) :
  'Calloc' could not allocate memory (47456329 of 1 bytes)"

I tried to restart the R session which didn't help. When I restart the computer, it came back to normal and appeared aga

[2015-06-24 15:09] sckott commented on #76
hi @zhengxiaochen - Thanks for your report.

I tried the same settings with some local data I have, but I can't replicate the problem.

How much memory is on your machine?  When you have that problem, can you check to see if your computer's memory is low?

One solution may be to simply split up the query into smaller chunks, e.g., 50,000 per query.

Another option is using scrolling - see egs here

[2015-06-25 13:44] zhengxiaochen commented on #76
Hello @sckott
Thank you very much for your reply.

The error happened again and I don't think it is because of the memory limitation of the machine. There is still enough free memory when it happened, as shown below:

             total       used       free     shared    buffers     cached
Mem:         12145       5521       6623         34        364       2017
-/+ buffers/cache:       3140

[2015-06-29 15:09] damien-cremilleux opened #77 "Error with count() with curl"
Hello,

I am using elastic (v 0.4.0) to query elasticsearch (v 1.5.1).
When I try to count the number of documents for a given index (eg num <- elastic::count(index = "test")) I have the following error:
[code]
I can still search:
[code]
is correctly working.

Any idea on why this happens?

Thank you very much!
Damien

[2015-06-29 15:17] dbuijs opened #78 "Connection settings for open.fda.gov"
Not sure if this is within scope, but open.fda.gov has an ElasticSearch API that only allows GET requests.

I've been playing with `Search_uri` from this package to see if I can figure out the connection settings and the search defaults in `Search_uri` to work with it. This would be a great example to add to one of the Vignettes if we can get it working.

    connect("https://api.fda.gov", es_port

[2015-06-29 15:20] sckott commented on #77
Sorry about that @damien-cremilleux - & thanks for the message.

We use `httr` internally, which recently changed some of its internals, which creates that error. The dev version here in this repo has that fixed.

Try installing like `devtools::install_github("ropensci/elastic")` and retry that. Let me know if it works

[2015-06-29 15:30] damien-cremilleux commented on #77
Hello @sckott

I just installed the dev version and it is now working.

Thanks a lot.
Damien

[2015-06-29 15:30] #77 closed

[2015-06-29 15:30] sckott commented on #77
great, i'll get a new version to CRAN soon

[2015-06-29 15:44] sckott commented on #78
@dbuijs Good question. Like discussed in #74 - they don't expose the direct Elasticsearch server itself - which this package interacts with.  The FDA API has custom endpoints/routes and returned data is different than what Elasticsearch returns as well.  We can't realistically support APIs built on Elasticsearch that have custom routes and data blobs returned since they are an infinite set of poss

[2015-07-01 17:40] sckott opened #79 "Give eg of writing spatial data objects into ES"
Docs http://www.gdal.org/drv_elasticsearch.html

e.g.,

[code]

definitely dont want to depend or even suggest `rgdal`, but could put in a demo, e.g file somewhere

[2015-07-01 17:45] #78 closed

[2015-07-01 17:47] sckott commented on #75
@paulmoto Can you update to `httr` v1 (now on CRAN) and let me know if you still get the same problem? Just checking to see if new `httr` fixes this

[2015-07-01 19:13] sckott commented on #76
hi @zhengxiaochen - there is a new version of `httr` recently on CRAN, which is used inside `elastic`, that actually does that `readBin` call that you see the error for.

Can you make sure you have the newest (`v1.0.0`), and try this again. If you get the same error, we can explore further from there.

[2015-07-02 15:48] sckott opened #80 "Explicitly import non-base R functions"

[2015-07-02 15:55] sckott opened #81 "Replace RCurl::curlEscape with curl::curl_escape"

[2015-07-02 16:08] #80 closed

[2015-07-02 16:08] #81 closed

[2015-07-02 16:36] #66 closed

[2015-07-02 16:36] sckott commented on #65
not sure what I was taling about here, closing, will fill in holes as they're found

[2015-07-02 16:36] #65 closed

[2015-07-02 17:03] sckott opened #82 "skip on cran"

[2015-07-02 17:27] #82 closed

[2015-07-03 18:02] zhengxiaochen commented on #76
Hello @sckott ,
I checked the version of my httr package, it is the newest one (v1.0.0), as you can see here:

Package: httr
Version: 1.0.0
Title: Tools for Working with URLs and HTTP
Description: Useful tools for working with HTTP organised by HTTP verbs (GET(), POST(), etc). Configuration
            functions make it easy to control additional request components (authenticate(), add_headers()

[2015-07-08 14:40] sckott opened #83 "In docs_bulk, make sure index numbers start from last used in ES"
When using `docs_bulk()` in a loop, we jut start indexing from 1, so each loop replaces documents from before.

Make a call to get biggest index number, then iterate numbers from there.

[2015-07-08 17:26] #83 closed

[2015-07-13 05:29] sckott commented on #76
Sorry the problem persists. I have vacation now, but will try to figure this out when I get back

[2015-08-15 15:58] #75 closed

[2015-08-18 19:00] happyshows opened #85 "[Question] how connection are closed?"
Hi,

I'm new to elastic search, and I plan to use R shiny as the front end for queries.
Is there a proactive way to manage the connections? for example, call a disconnect() to close when R shiny session ends.

thanks.

[2015-08-18 19:25] sckott commented on #85
@happyshows do you mean close the elasticsearch connection?

If so, you can't do that from this R pkg. The R pkg doesn't start elaticsearch either.

You have to start and stop elasticsearch on the command line.

Once elasticsearch is running after you've started on the command line you run `connect()` (with any params) to set the connection. But there's no way to disconnect from within R.

if the

[2015-08-18 21:22] happyshows commented on #85
it looks a bit weird to me (I use RDBMS in the past): to connect to ES I need to run connect() first, but when I'm done, I don't need to do anything? How the connection to ES is managed? Will this create numerous active connections after lots of web users used my R shiny application?

[2015-08-18 21:52] sckott commented on #85
Right, I understand the difference here and with RDBMS's - we don't initialize a connection that can be closed as those do.

`elastic` would create numerous connections.  Have you tested `elastic` with multiple clients in your Shiny app? I imagine it would be okay, but maybe not with a huge number of simultaneous users.  I'd be interested to see how it goes.

If we really need ability to manage co

[2015-08-18 21:54] happyshows commented on #85
thanks, it will be a while before I can test that on shiny as I just started learning ES. I'll close this and reopen if necessary.

[2015-08-18 21:54] #85 closed

[2015-08-18 21:57] happyshows opened #86 "[Question] how to bulk load docs with defined mapping?"
Hi,

I'm not sure using 'mapping' is right term for ES. I'm experimenting to dump data frames to ES via this package.
For example, let's say I have a bunch of datasets (similar but with different version) and put them into /apple
dataset1:
appleID, attributes, Qty

dataset2 (data generated at a different time):
appleID, attributes, Qty

Is there a way to use docs_bulk to upload datasets to /apple/

[2015-08-18 22:03] sckott commented on #85
@happyshows okay, sounds good

[2015-08-18 22:11] sckott commented on #86
yes, `docs_bulk()` has parameters `index` and `type` - types live within indices. So `apple` could be the index, and `V1`/`V2` the type's.

Look at the docs for the bulk API if you haven't  yet https://www.elastic.co/guide/en/elasticsearch/guide/current/bulk.html

There are multiple operations you can do from that API, including index, create, update, and delete - If you pass in a file to `docs_bu

[2015-08-18 22:34] happyshows commented on #86
Looks like index & type provides two layer hierarchy. What if I needed more than 2, say 4, 5?
for example, index = fruit, type = apple, 'sub_type'  = V1

all I can think of is to append a version column to apple, but I am not sure it is a good solution.

[2015-08-18 22:40] sckott commented on #86
There are only indices and types within indices. That's all there is in terms of Elasticsearch structure.

Documents in Elasticsearch have versions - see https://www.elastic.co/blog/versioning

So you could just update each document as it changes if you want - and you can go back to particular versions of a document if you wish

[2015-08-18 22:55] sckott opened #87 "Connection handling"
We may want to allow explicit handling of connections

sparked from #85

A related discussion in the python client repo elastic/elasticsearch-py#223

[2015-08-18 22:57] sckott commented on #87
Since we're using the HTTP API, we can perhaps expose tools for users to deal with handles explicitly instead of just letting `httr` automagically deal with closing handles, etc.

related hadley/httr#122

[2015-08-19 03:42] happyshows commented on #86
looks like the intended use of versioning is for optimistic locking. In my case, I'll need to frequently query and compare different versions (and the version can't just be an incremental number, it has to be meaningfully assigned). for example
version: beginning of week, let's call it wk32
appleID, measure, Qty
fuji, inventory, 100
version: end of week, let's call it wk33
appleID, measure, Qty
fu

[2015-08-19 06:01] sckott commented on #86
What you really want to do (e.g., `/wk32/fruit/apple`) isn't possible in elasticsearch - some discussion of basic concepts here https://www.elastic.co/guide/en/elasticsearch/reference/current/_basic_concepts.html which describes indices and types

what do  you mean? how will this comparison be done?

[2015-08-19 18:50] sckott commented on #86
@happyshows what if you just concatenate two of the three things together e.g.,

`wk32fruit` as an index, then `apple` and `banana` as types within that index

then `wk33fruit`, `wk34fruit`, and so on

[2015-08-19 18:58] happyshows commented on #86
yes this should work.

Can I do fuzzy search like index = 'wk32%' , type = 'apple', appleID = 'fuji' so that I can search fuji across different weeks?

Also, is there any downsides creating index based on concatenated names?

[2015-08-19 19:14] sckott commented on #86
yeah, you can query against indices, searching against certain indices based on flexible terms - see https://www.elastic.co/guide/en/elasticsearch/reference/current/multi-index.html#multi-index

It would only be from your own user perspective. elasticsearch doesn't care what the index names are.  I guess you'll have more indices with this approach than if it was possible to do what you want to do,

[2015-08-19 19:47] happyshows commented on #86
thanks a lot for the explanation :+1:

[2015-08-19 19:47] #86 closed

[2015-08-19 19:50] sckott commented on #86
i guess I lied a little bit, elasticsearch does require that all index names are lowercase

[2015-08-27 19:28] sckott opened #88 "cat_indices() is failing when parse=TRUE"
[code]

[2015-08-27 20:05] sckott commented on #76
@zhengxiaochen does this problem persist?

[2015-08-27 20:05] #88 closed

[2015-09-03 16:58] zhengxiaochen commented on #76
Hi @sckott , sorry for the delay. I just came back from holiday.
Actually the problem is still there. When the data set is large enough, the R session will crash and then everything goes wrong.
This time when I was trying to replicate the error, the situation was even worse. It seems that the "devtools" package is damaged. The "elastic" package is not able to be installed due to the damage of "dev

[2015-09-12 17:52] sckott commented on #76
Did you get devtools installed?  Looks like you needed to get `xml2` and `rversions` installed first.

[2015-09-15 19:38] sckott opened #89 "Elasticsearch v2 coming soon, see what changes needed"
https://www.elastic.co/blog/elasticsearch-2-0-0-beta1-released

[2015-09-18 14:32] zhengxiaochen commented on #76
Hi @sckott, before I installed the "elastic" package, it is required to install "devtools" first. So I installed it successfully and the same to "elastic" package. It runs well for small size of data, but after several times of use, the above problem appeared. Then everything goes wrong. I can't load most of the packages including "elastic" "Rcurl" etc. and the "devtools" is also destroyed. Restar

[2015-09-18 16:09] sckott commented on #76
@zhengxiaochen thanks for the update - I'll try to get this sorted, still no solutions though

[2015-09-18 16:14] zhengxiaochen commented on #76
@sckott Sorry I can't offer more information, as I am not so good at programming. Good Luck.

[2015-10-07 22:46] jrounds opened #90 "How is doc_ids supposed to work?"
I am hoping to use bulk with a data.frame but I need control over the ID.  I am about to write my own, but I am curious how this is imagined to work.  For example
[code]

I would expect to see the custom id on the elasticsearch head but I see 0:149.

[2015-10-07 22:55] jrounds commented on #90
BTW I wrote this before I saw that docs_bulk had a df version, I get the expected thing this way, but I would like to standardize around the package if possible.

[code]

[2015-10-07 23:21] sckott commented on #90
thanks for your message.

I think the problem is here https://github.com/ropensci/elastic/blob/master/R/docs_bulk.r#L216 in which I need to allow user input document IDs to go through directly instead of doing `-1` on, which is used to achieve the 0 based indexing Elasticsearch uses on documents.

[2015-10-07 23:42] sckott commented on #90
I think last commit e55ba37 addresses your first comment, reinstall and that should fix it.

[2015-10-07 23:43] sckott commented on #90
Let me know if there's anything else in that fxn above you wrote that you want in the pkg

[2015-10-19 15:05] Dmitrii-I opened #91 "Double quotes and backslashes are not escaped"
When passing string `monitor 30"` to body of a query, it seems you are not escaping that double quote. You are actually expecting me to pass `monitor 30\"` it seems.

[2015-10-19 15:30] sckott commented on #91
I'll have a look. You are using the `Search()` function? Passing to the `body`?

[2015-10-19 16:34] Dmitrii-I commented on #91
Hi Scott,

Yes, using Search, passing to the body. I am going to debug couple hours
see if I can pinpoint it.

Cheers
Dmitrii

On Mon, Oct 19, 2015 at 5:30 PM, Scott Chamberlain <notifications@github.com

[2015-10-19 16:44] Dmitrii-I commented on #91
All is fine with elastic actually. Its elastic search giving issues:

Browse[2]> content(tt)$error
[1] "SearchPhaseExecutionException[Failed to execute phase
[query_fetch], all shards failed; shardFailures
{[fjhbJVNnSiyYcT8eCv85GA][ads][0]: SearchParseException[[ads][0]:
from[-1],size[-1]: Parse Failure [Failed to parse source
[{\"query\":{\"bool\":{\"must\":[{\"query_string\":{\"default_field\":\

[2015-10-19 16:47] #91 closed

[2015-10-19 17:05] sckott commented on #91
I was playing with this for a while. I __think__ it is an Elasticsearch issue, of properly escaping reserved characters - see https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#_reserved_characters for those

[2015-10-19 17:17] Dmitrii-I commented on #91
Thats funny I am referencing exactly this page to build a function to
replace these characters in user input.

Thanks

On Mon, Oct 19, 2015 at 7:05 PM, Scott Chamberlain <notifications@github.com

[2015-10-29 06:24] sckott opened #92 "Errors now given back as JSON"
Need to update error parser, JSON now instead of java stacktrace.

Not sure whether to stop and give back simple message, e.g., (made up from bottom eg)

[code]

or complete object and not stop on error, e.g.,

[code]

[2015-10-29 15:20] sckott opened #93 "Change options to env vars"

[2015-10-29 23:28] sckott opened #94 "Index _status gone"
I think avail. via recovery now, not sure https://www.elastic.co/guide/en/elasticsearch/reference/2.0/indices-recovery.html

[2015-10-29 23:28] sckott commented on #90
@jrounds any further thoughts?  closing if not

[2015-10-29 23:46] sckott opened #95 "Logging"
Maybe allow users to log errors?  https://github.com/smbache/loggr

see also #92

[2015-10-29 23:48] sckott commented on #95
not on CRAN yet, see smbache/loggr#17

[2015-10-29 23:51] sckott commented on #92
with logging, will be able to allow user to record JSON errors from elasticsearch if they desire, and stop on errors with brief message as idiomatic R style

[2015-10-30 00:42] sckott opened #96 "Some cat method have extra params i think"
e.g., `cat_health()` doesn't accept any indices

[2015-10-30 01:23] sckott commented on #76
@zhengxiaochen have you updated to Elasticsearch v2 yet?  curious if that helps your problem at all, i imagine not, but worth a try

[2015-10-30 01:40] sckott commented on #92
things not working yet

[code]

[2015-10-30 01:43] #93 closed

[2015-10-30 15:53] sckott opened #97 "travis builds with es v2 not working"
https://travis-ci.org/ropensci/elastic/jobs/88365558

got v2 installing correctly _i think_, but all tests fail 404ing, something wrong

[2015-10-30 17:32] sckott opened #98 "Replace GET request in mlt fxn with POST"
On testing in ES v2, seems that requests that used to work are now broken, eg..,

[code]

The MLT API has been removed: https://www.elastic.co/guide/en/elasticsearch/reference/2.0/search-more-like-this.html

Need to use mlt query via body instead: https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-mlt-query.html

[2015-10-30 17:50] sckott commented on #98
probably make defunct

[2015-10-30 18:01] sckott opened #99 "nodes shutdown defunct"
https://www.elastic.co/guide/en/elasticsearch/reference/2.0/cluster-nodes-shutdown.html

[2015-10-30 18:16] #98 closed

[2015-10-30 18:16] #99 closed

[2015-10-30 18:34] sckott opened #100 "Scroll - see if need to change anything"
see https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-scroll.html

[2015-10-30 19:25] sckott opened #101 "Add search template"
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-template.html

older than v2 i think

[2015-10-30 19:28] sckott opened #102 "Add function for _suggest ?"
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-suggesters.html

probably not, but see if anyone sees this and +1's it

[2015-10-30 19:33] sckott opened #103 "Add multi search"
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-multi-search.html

[2015-10-30 19:38] sckott opened #104 "Add search exists fxn"
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-exists.html

Can also specify in body of query DSL, but easy enough I think to make a new funtion

[2015-10-30 19:39] sckott opened #105 "Add function for validate"
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-validate.html

again, can do in body of query DSL, but sep fxn useful probably

[2015-10-30 19:42] sckott opened #106 "Add percolate fxn"
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-percolate.html

[2015-10-30 19:45] sckott opened #107 "Add field_stats fxn"
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-field-stats.html

seems pretty useful

[2015-10-30 19:46] sckott opened #108 "Termvectors and multitermvectors apis"
* termvectors https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-termvectors.html
* multitermvectors  https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-multi-termvectors.html

may want to add fxns for these

[2015-11-02 07:00] sckott opened #109 "Run travis tests matrix with different ES versions"

[2015-11-02 07:09] sckott commented on #97
Try from python client https://github.com/elastic/elasticsearch-py/blob/master/.travis.yml

[2015-11-02 07:11] sckott commented on #97
From ruby client https://github.com/elastic/elasticsearch-ruby/blob/master/.travis.yml

[2015-11-02 16:46] sckott commented on #97
* https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-service.html
* https://www.elastic.co/guide/en/elasticsearch/reference/current/setup.html#setup-installation-pid

[2015-11-02 16:46] sckott commented on #97
still not working, FML, FML, FML

[2015-11-02 22:53] sckott opened #110 "mapping_delete not working"
not sure why

[2015-11-03 02:39] sckott opened #111 ">2 and <2 compatibility"
Some major diff's:

* errors  - the errors returned have changed, all JSON now - Could log a env var at startup of which ES version is running, and toggle which error parser function is used depending on what ES version
* Some API methods are defunct in ES >= 2, just leave those defunct, not many anyway
* ... others?

[2016-01-04 02:27] sckott opened #113 "Why don't we have backup/restore functions"
can't remember why, maybe there was a good reason not to have them

[2016-01-04 02:28] sckott commented on #104
just noticed that

[2016-01-04 05:48] #105 closed

[2016-01-04 05:55] #104 closed

[2016-01-04 06:02] sckott commented on #106
good for now, add multipercolate later

[2016-01-04 06:02] sckott opened #114 "Add multi percolate"
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-percolate.html#_multi_percolate_api

[2016-01-04 06:02] #106 closed

[2016-01-04 06:09] sckott commented on #92
looks good AFAIC

[2016-01-04 06:09] #92 closed

[2016-01-04 06:11] sckott commented on #94
index_recovery already incorporated, closing

[2016-01-04 06:11] #94 closed

[2016-01-05 20:14] #103 closed

[2016-01-05 20:15] #90 closed

[2016-01-05 22:10] sckott commented on #110
defunct in ES now

[2016-01-05 22:10] #110 closed

[2016-01-05 22:11] sckott commented on #97
#109

[2016-01-06 00:21] #89 closed

[2016-01-06 00:21] #96 closed

[2016-01-06 00:45] sckott opened #115 "Search doesn't support multiple indices search"
WTF me

[2016-01-06 04:25] #107 closed

[2016-01-06 04:25] #115 closed

[2016-01-06 04:29] sckott commented on #97
closing in favor of #109

[2016-01-06 04:29] #97 closed

[2016-01-06 05:11] sckott commented on #109
done

[2016-01-06 05:11] #109 closed

[2016-01-06 18:04] sckott commented on #111
this is sorted-ish now, will fix other things as pointed out by users

[2016-01-06 18:04] #111 closed

[2016-01-08 13:54] alaendle commented on #70
Just as a note for people that are running into a similar problem while trying to connect to a self-signed certificate. You could disable verification before calling connect.

library(httr)
set_config( config( ssl_verifypeer = 0L, ssl_verifyhost = 0L ) )

[2016-01-17 21:17] sckott opened #116 "Add fxn(s) for watcher"
https://www.elastic.co/downloads/watcher
https://www.elastic.co/guide/en/watcher/current/getting-started.html
https://www.elastic.co/guide/en/watcher/current/watch-log-data.html

[2016-01-26 17:14] sckott opened #117 "Problem using the bulk load API"
from a user:

[2016-01-26 17:35] sckott commented on #117
1st question:

The elasticsearch bulk API requires a weird format. It's not proper JSON. Each line ends with a newline, which JSON does not do. I have a few internal functions in the package to create the bulk load format, but for specific data sources - here they are https://github.com/ropensci/elastic/blob/master/R/docs_bulk.r#L298-L339 - I don't think they can really be generalized - but you ca

[2016-01-26 17:41] sckott commented on #117
testing

[2016-01-26 17:50] sckott commented on #117
2nd question:

That example works for me, and returns only 1 result.

[code]

What do you get when you try that example?  Make sure that the `hello` index is not already present. Do `index_recreate("hello")` for example before the `docs_bulk()` command

[2016-01-28 17:38] sckott commented on #117
closing - just answering email based question here

[2016-01-28 17:38] #117 closed

[2016-01-28 18:57] sckott commented on #116
nevermind, watcher is only free for 30 days, won't support it if I can't keep testing it, etc.

[2016-01-28 18:57] #116 closed

[2016-02-03 00:35] sckott opened #118 "content changes for parsing and encoding"

[2016-02-03 00:59] sckott opened #119 "Dont error on empty body"

[2016-02-03 00:59] sckott commented on #119
or rather, fail well on empty body

[2016-02-03 01:23] #118 closed

[2016-02-03 01:23] #119 closed

[2016-02-07 05:46] sckott opened #120 "v2.2 changelog"
https://www.elastic.co/guide/en/elasticsearch/reference/2.2/release-notes-2.2.0.html

see if anything to change in client - already added to travis builds

[2016-02-13 18:06] sckott opened #121 "Alias body requests"
looks like we don't support body requests yet as in the docs here https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-aliases.html

[2016-03-23 11:04] jhendric98 opened #123 "doc_ids don't line up using the docs_bulk function."
Loading an elasticsearch index from a data.frame of about 125,000 observations and using the first variable as the argument for the doc_ids doesn't load the doc_ids correctly. It seems to load one row off.

docs_bulk(product,index = "model",type = "hd", doc_ids = product$productid)

product has 2 variables =>  productid and description

_id : 503
productid: 504
descscription: "4 drawer dresser, bl

[2016-03-23 14:00] sckott opened #124 "Document and possibly warn users about mappings with dots"
see docs https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_20_mapping_changes.html#_field_names_may_not_contain_dots

[2016-03-23 14:57] sckott commented on #123
Thanks for the report. I remember there being a good reason to force zero based document IDs, so I do that https://github.com/ropensci/elastic/blob/master/R/docs_bulk.r#L226 when the ids are numeric. However, for user supplied I guess we should not do that

[2016-03-23 15:56] sckott commented on #123
I wish I could remember what that reason was

[2016-03-23 16:11] jhendric98 commented on #123
In every use case I currently have, the document id has significance as a relational key field that tries more than a single incoming dataset together. In the use case above, the productid is created from external systems that transactionally manage a product master. I have to provide search capacity to the underlying RDBMS as the search load on the system is overcoming the capacity to conduct tra

[2016-03-23 18:19] sckott opened #125 "docs_bulk: optionally allow users to select 0..N doc ids or UUIDs"
i thought `_id` was a required field in bulk document upload, but apparently not.

could allow users to select 0...N doc ids (e.g., 0, 1, 2, 3, etc.) , or let ES assign doc ids as UUIDs

perhaps the default should be to assign UUIDs

I thought a benefit of integer ids was that there would be an obvious order to them, whereas not with the UUIDs - __BUT__ apparently the UUIDs are ordered...bueno

[2016-03-23 18:45] sckott commented on #123
@jhendric98 okay reinstall like `devtools::install_github("ropensci/elastic")`, and try again

You should get the same doc ids you pass in to the function

see also #125

[2016-03-23 19:36] jhendric98 commented on #123
great. I had just forked the project myself. I'll test it out in just a few hours when I get to my computer and let you know.

[2016-03-24 00:24] jhendric98 commented on #123
Worked fine thanks.

[2016-03-24 00:27] sckott commented on #123
great!

[2016-03-25 00:00] sckott commented on #123
closing, pushing #125 soon

[2016-03-25 00:00] #123 closed

[2016-03-25 03:06] #125 closed

[2016-03-29 15:56] jenkin opened #126 "More-like-this query always returns zero scores"
Hi, I'm using scan and scroll api (ie. last example [here](https://cran.r-project.org/web/packages/elastic/vignettes/search.html)) to fetch all documents similar to others (see [mlt query](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-mlt-query.html)). All works fine, but scoring for all returned documents is always zero. If I directly run the same query (ie. in Sense),

[2016-03-29 16:14] sckott commented on #126
thanks for the report @jenkin - I'll have a look now

[2016-03-29 20:19] sckott commented on #126
I believe scores are not tracked when scrolling (See http://mail-archives.us.apache.org/mod_mbox/spark-user/201504.mbox/%3C1429349001763.b5aa674f@Nodemailer%3E), so all are reported as zero

but are you scrolling in the Sense GUI?

[2016-03-30 11:16] jenkin commented on #126
D'oh! Thank you, I missed this detail in scan&scroll feature of ES... just now I'm trying with python library and score is always zero. And no, in Sense I performed simple query, without scrolling. Ok, nevermind, I'll use simple pagination to retrieve first N results, sorry for this "not-so" issue... :)

[2016-03-30 11:16] #126 closed

[2016-03-30 13:59] sckott commented on #126
No problem. I had forgotten about scores for scroll, I'll add a note to the docs if not already there

[2016-03-30 14:01] sckott opened #127 "Add note about scores all zero for scroll fxn"
Via #126

[2016-04-08 18:25] jrounds opened #128 "DreamFactory custom headers"
Hi,

Any support for custom headers in the R package Elastic?

I am working with an elasticsearch db that is behind a DreamFactory wall.  As such if I query "by-hand" I have to supply a custom header with an API key and session key.  E.G.:

[code]

and content will have a filter result based on the JSON of body which is standard elasticsearch.  This "sentiment_emotion_analytics" maps straight to a

[2016-04-08 19:00] jrounds commented on #128
Well examining the code I found out how to pass header to the POST in the R package Elastic, but the problem is the connect().  Since connect expects to get a connection to the "front-end" of a elasticsearch and not just an index URL it won't connect.

[2016-04-08 19:52] sckott commented on #128
Thanks for your message. I'll have a look.

So the base URL in your case is `https:/fake.url.com/api/v2/sentiment_emotion_analytics` ?  And that maps directly to ES?

[2016-04-08 21:07] jrounds commented on #128
Naw it is worse than that (and I don't blame you if it is so far out of
what you intended it can't be addressed)

The base url is https:/fake.url.com/api/v2/sentiment_emotion_analytics but
that maps directly via DreamFactory Proxy to http://<fake cloud intranet
url for elasticsearch>:9200/sentiment_emotion_analytics/_search

Basically the whole elastic::connect idea is a little screwed up because

[2016-04-08 21:16] jrounds commented on #128
I got a message out to a partner to see if we can expose the 9200 head to
GET so that connect works, and after that just re-arranging URLs might make
your package work for me again.

On Fri, Apr 8, 2016 at 2:07 PM, jeremiah rounds <roundsjeremiah@gmail.com>
wrote:

[2016-04-08 21:33] sckott commented on #128
I will try to get this sorted - it's definitely not out of the question - I'll have a look at DreamFactory to see if I can get a test setup going to test this out

[2016-04-08 21:42] sckott commented on #128
@jrounds any tutorial on setting up elasticsearch with dreamfactory. All I could find was this http://community.dreamfactory.com/t/integrating-elasticsearch/680

[2016-04-08 21:43] sckott opened #129 "Let connect set headers to be used with all requests"
from #128

[2016-04-08 21:55] sckott opened #130 "Add transport_schema param to connect() to specify http or https"

[2016-04-08 22:15] jrounds commented on #128
I am not sure.  I hate to bother you with a non-standard use case, but sort
of a generalization of this is what if you want to use R package elastic
for a RESTful (in the sense of connectionless) API directly to a _search
URL of an index?  It isn't so mcuh about the dreamfactory as it is that
idiom.   Turns out I started the conversation with "how to I get a header"
for a connection to elasticsear

[2016-04-08 22:28] jrounds commented on #128
BTW I been poking around on DreamFactory it should be fairly easy to do
unless the admin customized stuff, but I certainly can't imagine you would
do this unless you have some interest:

You set up :
1) Service -- This is map between urls
   Type:  "Remote Web Service"
   Go to "Config"  set the base url to ElasticSearch URL  (index or head or
whatever)
   --
2) You setup a role.  After naming it

[2016-04-08 22:31] sckott commented on #128
I do want to be able to test this - so I do need to use Dreamfactory or something similar - thanks for the instructions

Opened a separate issue for headers  #129

[2016-04-09 00:12] #129 closed

[2016-04-09 00:12] #130 closed

[2016-04-09 00:13] sckott commented on #128
@jrounds I've added ability to set headers in `connect()` for all requests  - let me know if you have any problems with that

still working on the actual issue here

[2016-05-06 22:52] jaredlander opened #131 "Prevent 404 Exception"
Is there a way to pass an argument to scroll that allows a 404 error to be returned as a valid response?  Something a long the lines of https://github.com/elastic/elasticsearch-net/issues/1518, specifically this part `RequestConfiguration(r => r.AllowedStatusCodes(404))`.

Perhaps it can be added to the `args` in the call to `scroll_POST`?

[2016-05-06 23:05] sckott commented on #131
Interesting. I'll look into it.

So I understand the use case, is this correct? -> When scrolling, the last request can 404 - in which case you don't want the client to stop with error, but proceed as if the response was 200

[2016-05-08 19:58] jaredlander commented on #131
Well, I want it not to error out.  I want the last request to to be normal, maybe with some indication that it is done.  I'm running scroll, probably not in the best way (https://github.com/jaredlander/TextInfo/blob/master/R/PairExtraction.r#L264) and when it hits that 404 the whole thing falls apart.

[2016-05-09 22:46] sckott commented on #131
Okay. I'll report back soon

[2016-05-09 23:19] jaredlander commented on #131
I got something working in the link below. Not sure it's great but it's working for now.  Maybe the end of the scroll is marked differently so we can have the `while` conditioned on it not being the end?  But then that would be adding stuff onto the elastic response and seems inelegant.  So maybe this can be built into `elasticdsl`?

https://github.com/jaredlander/TextInfo/blob/master/R/PairExtrac

[2016-05-10 19:13] sckott commented on #131
Perhaps, though I think it makes more sense here.

I like the idea of the allowed http status responses - I'll try that soon and push something up to try out

[2016-05-10 20:40] sckott opened #132 "Add fxn(s) for clearing scrolls"
https://www.elastic.co/guide/en/elasticsearch/reference/2.3/search-request-scroll.html#_clear_scroll_api

[2016-05-10 20:46] sckott commented on #131
After looking at your code and running through different scenarios, I still can't reproduce any 404s using `scroll()` - Can you share what situations causes 404s?  On a last call I don't get an error back but a 200 response, and just no results in `hits`

[2016-05-10 21:16] jaredlander commented on #131
When calling to an instance on a remote server I get the 404 error 70% of the time, though it might not necessarily always be on the last response.  Unfortunately, I can't share the database I'm using but will see if I can setup an example database.

[2016-05-10 21:55] sckott commented on #131
Thanks. Can you tell me what version of Elasticsearch is running on the remote, and what version of `elastic` you're using

[2016-05-31 02:13] sckott opened #133 "Add index template functions"
https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-templates.html

[2016-05-31 02:24] sckott opened #134 "Add fxns for reindex API"
https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-reindex.html

[2016-05-31 14:19] sckott commented on #87
thinking of how to do this:

- use `R6` to create a connection object, this isn't like a DBI connection object to a C pointer, but rather a set of details for an ES instance (e.g., base url, port, basic auth user:pwd, etc.)
- should all methods live within the connection object, or pass the object into some methods, or something else?

How to transition from current setup

- is a package rename wa

[2016-06-15 17:25] sckott opened #136 "httr::DELETE now has a body parameter"
https://github.com/hadley/httr/blob/master/NEWS.md#new-features

i think there's some elasticsearch methods that require body with delete request

[2016-07-07 23:06] wsams opened #137 "Error on `connect()` when ElasticSearch is accessed through a proxy"
Hi, I'm working on a project that has ElasticSearch set up through a proxy in Apache. For example, the Apache configuration looks like this,

	ProxyPass /my-es http://example.com:10001 retry=0 connectiontimeout=300 timeout=300
	ProxyPassReverse /my-es http://example.com:10001

https://secure.com is secure behind 443 so that we can use BasicAuth in front of ES.

I can run `curl https://secure.com/m

[2016-07-11 17:01] sckott commented on #137
Sorry for the delay - was on vacation.

I'm guessing that's a bug. I'll have a look and see what's going on

[2016-07-12 05:03] sckott commented on #136
I can't find any routes that require a body with a `DELETE` request, closing for now, open new issues as needed

[2016-07-12 05:03] #136 closed

[2016-07-16 15:40] sckott commented on #137
@wsams Via the `...` in `connect()` you can pass in proxy settings to the `headers` parameter - did you try that yet? You can pass in proxy settings via `httr::use_proxy()` to `headers` param

One problem is in `connect()` it pings the ES server to make sure its up, but doesn't include headers right now, i'll fix that

[2016-07-16 16:06] sckott opened #138 "capture errors correctly within connect()"
this line `stop(sprintf("Error:", res$headers$statusmessage), call. = FALSE)` needs to be generalized to catch various error behaviors

[2016-07-18 22:26] wsams commented on #137
Hi @sckott, I don't believe `httr::use_proxy()` is going to work since our proxy is in Apache - we're not going through an internet proxy to talk to ElasticSearch.

[2016-07-20 21:28] wsams commented on #137
@sckott, I see what could likely be the culprit. After checking on the source and adding some debugging statements I see that the `baseurl` equates to,
[code]
`:443` should be moved after `.com` like this,
[code]
I might be able to create a patch, but I'm not normally an `r` developer.

[2016-07-20 22:50] wsams commented on #137
I started a branch here https://github.com/wsams/elastic/blob/context-path/R/connect.R if you want to see what I was trying to do.

[2016-07-20 23:06] sckott commented on #137
@wsams Thanks for sorting this out, been busy lately.  Having a look

[2016-07-20 23:08] sckott opened #139 "probably don't ping ES instance within connect()"
python client doesn't do this, so probably should follow suit

[2016-07-20 23:17] sckott commented on #137
@wsams

So perhaps use one of the following options:

* add a new parameter (e.g., `es_url`) to `connect()` which takes the complete url, including scheme, host, port, context path, and then all other params that are used to construct the url are ignored, or
* add a new parameter for the context path (e.g., `es_path`) to `connect()` which takes the context path, and uses it if given to construct t

[2016-07-20 23:23] wsams commented on #137
Both of those sound like reasonable solutions. I'm leaning towards the second solution since the other parts are already broken out of the full url as arguments.

[2016-07-21 06:41] sckott commented on #137
Install from github, made some changes,  let me know if it works now

[2016-07-21 13:56] sckott commented on #138
no longer pinging within `connect`

[2016-07-21 13:56] #138 closed

[2016-07-21 13:56] sckott commented on #139
done

[2016-07-21 13:56] #139 closed

[2016-07-21 13:58] #120 closed

[2016-07-21 14:31] wsams commented on #137
@sckott, that did it, thanks a lot for helping.

[2016-07-21 14:31] #137 closed

[2016-07-21 14:42] sckott commented on #137
great, glad it works now

[2016-07-24 16:49] sckott opened #140 "Add function to clear scroll"
https://www.elastic.co/guide/en/elasticsearch/reference/2.3/search-request-scroll.html#_clear_scroll_api

[2016-07-24 18:28] #127 closed

[2016-07-24 18:30] sckott commented on #132
closing dup of #140

[2016-07-24 18:30] #132 closed

[2016-07-24 18:30] sckott commented on #140
closed in 8d4bfbf727c152476fc766fdd54acb542e796e26

[2016-07-24 18:30] #140 closed

[2016-07-25 00:38] sckott commented on #124
already mentioned in pkg level man file

[2016-07-25 00:38] #124 closed

[2016-08-02 09:08] steeled opened #141 "Bug in docs_bulk.character"
Url is using conn$base, but should be conn$host (from es_get_auth)

[2016-08-02 16:38] sckott commented on #141
woops. thanks for catching that

[2016-08-02 17:36] sckott commented on #141
@steeled sorry about that, reinstall from github `devtools::install_github("ropensci/elastic")` - adding some more tests

[2016-08-02 17:42] sckott opened #142 "docs_bulk returns different outputs for different inputs"
data.frame and list return `NULL` and character returns a list

perhaps change data.frame and list to collect output and return list

[2016-08-02 18:13] sckott commented on #142
fixed in da37d6bad503f59e23696a0b7e52745578bfcf34

[2016-08-02 18:13] #142 closed

[2016-08-02 18:13] sckott commented on #141
sorted

[2016-08-02 18:13] #141 closed

[2016-08-02 23:48] steeled commented on #141
Thanks for sharing!

[2016-08-14 17:00] martijnvanbeers opened #143 "wildcards in index name"
When I installed elasticdsl today, the elastic library seems to have gotten updated (to 0.7.2; unfortunately I have no idea what version I had before), and since then I get the following error when I try to use a * wildcard when specifying an index:

Error: 404 - IndexMissingException[[tweet3-2016.%2A] missing]`

I know I can specify multiple indices, but that gets tedious fairly quickly if you ha

[2016-08-14 18:36] sckott commented on #143
@martijnvanbeers thanks for your question. I'll have a look and get back to you

[2016-08-15 01:44] sckott commented on #143
Hmmm, I originally used url escaping to make sure indexes and type's with special characters worked (#49 )

[2016-08-15 16:55] dominoFire opened #144 "docs_delete with non-numeric ID's"
It would be nice if `elastic::docs_delete` could accept non numeric ID's. For example:

[code]

You can have non-numeric document ID's when you let elasticsearch assign ID's

[2016-08-15 20:26] sckott commented on #144
@dominoFire  thanks for the report.

The docs for this function do say that it should be `numeric`, but it does accept character as well. e.g.

[code]

your ids will be diff. of course

[2016-08-15 20:45] sckott commented on #144
if you reinstall the docs are updated

[2016-08-15 22:47] sckott commented on #143
@martijnvanbeers Okay, reinstall `devtools::install_github("ropensci/elastic")` then try again and let me know if it works

[2016-08-16 11:13] martijnvanbeers commented on #143
@sckott yes, that works. awesome, thanks!

[2016-08-16 11:13] #143 closed

[2016-08-16 23:37] #144 closed

[2016-08-16 23:39] #100 closed

[2016-08-16 23:45] sckott opened #145 "tasks API"
https://www.elastic.co/guide/en/elasticsearch/reference/current/tasks.html

still experimental as of 2016-08-16

[2016-08-16 23:45] sckott commented on #134
moved to next milestone as docs say it's still experimental

[2016-08-16 23:47] sckott commented on #133
bumping to next milestone

[2016-08-17 15:26] #101 closed

[2016-08-23 17:46] sckott opened #146 "allow es_base to work - synonymize with es_host"

[2016-08-23 19:02] #146 closed

[2016-08-24 21:17] sckott opened #147 "search template backwards compatibility"
not working on:
- `v2.1.1`
- `v1.7.3`
- `v1.6.2`

[2016-08-24 22:52] sckott commented on #147
could be working, but haven't sorted out test suite problems for those versions yet ...

[2016-08-26 08:40] MarcinKosinski commented on #146
Thanks

[2016-09-14 08:53] kickbox opened #148 "Connecting to ES with shield"
When trying to connect to a ES database with shield,

`elastic::connect(es_base = 'https://prod.company.com',es_port = 6379,errors="complete", es_user = "myname", es_pwd = "password")`

I get the following error

[code]

Is there something wrong that I am doing here?

[2016-09-14 21:53] sckott commented on #148
thanks for the report.

This is not really testable for me since Shield is a paid product. Do you know if they have free versions for client developers?

What kind of auth does Shield do?  Simple auth like `user:pwd` or something else?

[2016-09-15 05:51] kickbox commented on #148
Hi @sckott  Iam not familiar with this myself.  I came across this link, https://www.elastic.co/guide/en/shield/current/_using_elasticsearch_http_rest_clients_with_shield.html
Hope this helps. If not I can check more with my IT team if you want.

[2016-09-15 06:15] kickbox commented on #148
As with your first query. This answer should help http://stackoverflow.com/questions/32196483/where-to-get-elasticsearch-shield-license

Meanwhile I would suggest that you contact them. You are doing great work for the entire R and elastic search community, they should support you for free.

[2016-09-15 23:00] sckott commented on #148
Thanks for the links, I might ask if they can give me access for free.

[2016-09-15 23:22] sckott commented on #148
Try this:

[code]

replace with your username and password for Shield

the `x <- Search(config=verbose())` should print e..g,

[code]

that header you set in `connect()` should be sent on each request

[2016-09-16 09:51] kickbox commented on #148
I tried this
[code]
It resulted in
[code]

[2016-09-16 16:42] sckott commented on #148
Hmm, instead of setting the header in the `connect()` call, try adding the header in via `config` param in your `Search` call, like

[code]

[2016-09-19 05:54] kickbox commented on #148
Unfortunately I get the same error :(

[code]
`Error: Check your connection, server may be down, url or port incorrect, or authentication wrong`

[2016-09-19 16:52] sckott opened #149 "Maybe don't run checkconn() on every request"
adds extra time to every request - somewhat minimal since it's just a `HEAD` call (no body returned), but does add time nonetheless

[2016-09-19 16:58] sckott opened #150 "Possibly implement retry on failed requests to ES server"
`elasticseearch-py` does this.

[code]

[2016-09-19 17:09] sckott commented on #150
[code]

[2016-09-19 17:11] sckott commented on #148
@kickbox try again after reinstalling from github `devtools::install_github("ropensci/elastic")`

3 different methods should work now, **I think**

[code]

try the 1st first, and others after. let me know if it works or doesn't

[2016-09-20 06:25] kickbox commented on #148
When I use all the above 3 cases with ` es_transport_schema="https"` (which is what I want),  I get,

[code]
with ` es_transport_schema="http"` (just for testing),  I get,

[code]

[2016-09-20 16:06] sckott commented on #148
Thanks for this. It looks like you're also using a proxy?

[2016-09-20 17:27] kickbox commented on #148
Yes. I use this command which works, to install packages from github, before a install_github()
[code]

I tried this too before "connect" and "Search", and the results were the same.

[2016-09-20 21:32] sckott commented on #148
Thanks for the additional details.

[2016-09-27 09:09] kickbox commented on #148
@sckott would it be possible for you to suggest a workaround till you find a final solution, please?

[2016-09-28 01:24] sckott commented on #148
I would love to, but I am out of ideas. The only thing I can think is to use the http client we use inside this pkg (`httr`) manually to play around with the authentication to see what works. Can just use the base elasticsearch URL or any route you like, and see what works for auth. What I mean is outside of this package, just try with `httr` to make a successful request. If you can find something

[2016-09-28 19:30] sckott commented on #87
It may make sense to roll out a new package timed with release of Elasticsearch v5 stable and that does explicit connection handling, cause both require lots of changes.

[2016-09-30 09:08] kickbox commented on #148
Hi, I wonder if proxy should be a problem atall. Because I am accessing ES from within the network. Anyways, I successfully retrieved data using httr package, without setting any proxy by

[code]
looking at data, I get this.
[code]
looking at content(data)
`content(data)`
I can see the ES data hits in the results

[2016-10-01 02:03] sckott commented on #148
I'm glad that worked for you. The only thing different I can tell is that you set verify peer FALSE - which is not a good idea in general i think.

I just installed the trail version of Shield on my local machine following instructions at https://www.elastic.co/downloads/shield (or here https://www.elastic.co/guide/en/shield/current/getting-started.html - same thing). It worked with the following:

[2016-10-14 18:11] gustavobio opened #151 "Error creating documents with docs_bulk from a single column data frame"
Hello

When creating documents in bulk from a data frame, I get the following error if the data frame has only one column:

[code]

If I add a second column, everything goes well:

[code]

Thanks!

[2016-10-14 18:28] sckott commented on #151
thanks for the report, i'll have a look

[2016-10-14 19:25] sckott commented on #151
@gustavobio can you reinstall and try again? `devtools::install_github("ropensci/elastic")`

[2016-10-14 20:10] gustavobio commented on #151
That was quick! Working great now, thanks!

[2016-10-14 20:11] sckott commented on #151
glad it works 😼

[2016-10-14 20:11] #151 closed

[2016-10-26 20:17] sckott opened #152 "support partial document updates"
https://www.elastic.co/guide/en/elasticsearch/guide/current/partial-updates.html
https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-update.html

[2016-10-26 20:35] sckott opened #153 "make sure ES v5 will work"

[2016-10-27 15:57] sckott commented on #153
tests and such all passing now, but lots of v5 features not in yet

[2016-10-27 16:33] #149 closed

[2016-10-27 20:39] sckott commented on #108
good enough for now

[2016-10-27 20:39] #108 closed

[2016-10-27 20:39] #152 closed

[2016-10-27 20:43] sckott commented on #153
v5 release notes https://www.elastic.co/guide/en/elasticsearch/reference/5.0/release-notes-5.0.0.html

[2016-10-27 22:19] #153 closed

[2016-10-28 16:50] sckott opened #154 "maybe add method like docs_bulk but outputting bulk format"
for use loading via cli, or in other langs, and would allow debugging problems with bulk loading

[2016-11-08 14:58] sckott opened #155 "Handle whitespace in document ID fields"
via user email

[2016-11-08 20:23] #155 closed

[2016-11-08 23:03] #154 closed

[2016-11-22 13:48] kickbox commented on #148
@sckott, I tried again with
[code]

Everything works now Iam using your plugin again. Thanks.

[2016-11-22 22:39] sckott commented on #148
@kickbox great, glad it works now

[2016-11-22 22:39] #148 closed

[2016-11-29 07:31] rajaramana opened #156 "unable to connect to proxy site"
Hi,

I have my elasticsearch behind a proxy. I am trying to insert the data using docs_bulk function in R. I am unable to connect due to the proxy. Could you please help me on how to access data using a proxy?

Thank you,

Br,
Raja

[2016-11-30 13:31] sckott commented on #156
thanks for your question @rajaramana

try passing `httr::use_proxy()` to `headers` param in `elastic::connect`

[code]

let me know if that works.

can also set any headers on function calls .eg., `Search()` by passing in like `Search(config = use_proxy(<your proxy settings>))`

[2016-11-30 21:26] nelsonSchwarz opened #157 "Connecting to AWS ES - 404 Error"
I cannot seem to connect to Elasticsearch on Amazon Web Services. I keep getting this error

`Error: 404 - no such index`
`ES stack trace:`
`  type: index_not_found_exception`
`  reason: no such index`
`  resource.type: index_or_alias`
`  resource.id: us-east-1.es.amazonaws.com`
`  index: us-east-1.es.amazonaws.com`

when I use this:

`connect(es_host = aws_endpoint,
    es_port = 80,
    errors =

[2016-11-30 22:29] nelsonSchwarz commented on #157
Solved it:
`connect(es_host = aws_endpoint, es_port = 80, errors = "complete", es_path = "")`
`es_path` must be specified as empty string. Using NULL does not work.

[2016-11-30 22:29] #157 closed

[2016-12-01 07:04] sckott commented on #157
thanks for the issue and the PR

[2016-12-01 15:01] nelsonSchwarz commented on #157
No, thank you for the package!

[2016-12-01 17:55] nelsonSchwarz opened #160 "Using jsonlite::stream_in() handler argument in elastic::Search()"
Hi Sckott,

First off, great work with the `elasic` package!
I especially enjoy the `asdf` argument in elastic::Search(). It really helps streamline formatting the output.

On that note, would it be possible to enable the `handler` argument from the jsonlite::stream_in() function, in order to further format and handle ES output? I can try it out myself and make a pull request if you'd like.

Thank

[2016-12-01 18:34] nelsonSchwarz commented on #160
Oops. I had not seen that `Search` uses `fromJSON`, not `stream_in`, my mistake.  Nonetheless, is there any way of handling the data between batches like `handler ` in `stream_in`, maybe in conjunction with `scroll`?

[2016-12-01 21:31] sckott commented on #160
Thanks for the issue and for the kind words.

What is the use case for this?  And is the current situation to slow perhaps?

[2016-12-01 21:43] nelsonSchwarz commented on #160
Actually, I apologize for not taking a look at the **Scrolling search - instead of paging section** in your [search vignette](https://cran.r-project.org/web/packages/elastic/vignettes/search.html). The last `while` statement is exactly what I want to do.

Nonetheless, the idea was to format the JSON into a dataframe and further manipulate (i.e. dplyr) the data in batches. I am going to being deali

[2016-12-02 09:11] sckott commented on #160
i see. looking at it. might be possible

[2016-12-12 06:32] kickbox opened #162 "Feature request: Progress bar for queries"
@sckott I frequently query large data from ES through your plugin. However I am not able to see if the query is active/inactive or progressing. Can you please add a feature where we can track the data-download progress of the search?

Something like this could be handy in tracking the progress of the query -https://github.com/gaborcsardi/progress.

[2016-12-12 06:41] sckott commented on #162
thanks for the issue, will have a look in the morning

[2016-12-13 06:37] joelgombin opened #163 "scroll with asdf = TRUE ?"
If my initial `Search` uses the `asdf = TRUE` argument, is it possible to then make sure that `scroll` returns objects consistent with the one returned by the initial `Search`?

Alternatively, can I easily bind the lists and then make sure to get a dataframe?

[2016-12-13 20:27] sckott commented on #163
thanks @joelgombin

this is somewhat related to #160  in which experimenting with `jsonlite::stream_in`  which allows a custom handler to determine how each JSON page is parsed.

pushing something up soon.

we maybe can just add the `asdf` param to `scroll`, as we call `jsonlite::fromJSON(res, FALSE)` inside `scroll` and if we have `asdf` in `scroll` then we can do `jsonlite::fromJSON(res, asdf)`

[2016-12-13 21:35] joelgombin commented on #163
I think an `asdf` param to `scroll` would make a lot of sense.
Alternatively, I realised that by passing a query to the `body` argument, I can go around the 10000 observations limit of `Search`:

[code]

[2016-12-17 23:03] sckott commented on #156
closing due to inactivity

[2016-12-17 23:03] #156 closed

[2016-12-18 17:51] sckott commented on #162
I think the best way to do this that works across functions, is via `httr::progress()` - that can be passed in to most if not all `elastic` functions, e.g,

`Search(config = progress(), size = 5000)`

you have to pass it in with the named variable `config`

I'll add examples to the docs soon

[2016-12-20 00:48] #163 closed

[2016-12-20 00:48] sckott commented on #163
@joelgombin reinstall and try again, added `asdf` parameter to `scroll`

[2016-12-20 00:49] sckott commented on #160
@nelsonSchwarz  reinstall and try again, see e.g., https://github.com/ropensci/elastic/blob/master/man-roxygen/search_egs.r#L702-L708 and https://github.com/ropensci/elastic/blob/master/R/scroll.R#L157-L170

[2016-12-20 00:52] sckott commented on #160
i don't think `stream_in` makes a whole lot of sense here since it expects ndjson formatted data in a file, not regular JSON

i played around with this, and resulted in adding ability to use `stream_out` so you can instead of getting an R list, or raw JSON, you can write to disk as ndjson, and then use `jsonlite::stream_in` to read the ndjson into a data.frame

does that help?

[2016-12-20 00:55] #162 closed

[2016-12-20 22:56] joelgombin commented on #163
Thanks, that works!

[2017-01-25 09:37] sckott opened #164 "fielddata fixes"
via http://stackoverflow.com/questions/41843980/elastic-package-in-r-sort-for-version-v5-not-working

[2017-02-27 22:09] sckott opened #168 "replace httr with crul"

[2017-03-07 22:26] iainmwallace opened #169 "Question: Bulk upsert - adding new fields rather than replacing entire document"
Hi,

Wonderful package! New to elastic search but was wondering if it is possible to do a bulk upsert?
I want to add extra fields to what are already present.

For example, if I store the following
x<-tibble(id=letters[1:3],my_letter=LETTERS[1:3])
docs_bulk_prep(x,"test",path = tempfile(fileext = ".json"),doc_ids=x$id)
docs_bulk()
I get this as a document
{"_index":"test","_type":"test","_id":"a",

[2017-03-08 01:55] sckott commented on #169
thanks for your question @iainmwallace and glad you like the pkg

so there is a way to do updates using the bulk API https://www.elastic.co/guide/en/elasticsearch/reference/5.2/docs-bulk.html#bulk-update

there are 3 possible inputs to `docs_bulk`

* `data.frame`
* `list`
* file path

for the 3rd option, no problem, the user just has to create the file manually and say what operation they want to

[2017-03-08 15:25] iainmwallace commented on #169
Thanks! I will try and write my own json files and use the docs_bulk option to upload them

Adding support to add new fields if they don't exist from a data.frame, and update them if they do, would enable what I would imagine is a pretty common workflow

Store info from database query A about object type 1 in elastic search
Store other info from database query B about object type 1 in elastic sear

[2017-03-08 17:09] sckott commented on #169
will look into it

[2017-03-29 18:07] komalsrathi opened #170 "Strict/Fixed query matching"
I am trying to query the database using:

[code]
The problem is I am not just getting strict matching and it returns `A2M` as well as `A2M-AS1`. What's more confusing is that if I query for `A2M-AS1`, I still get both. I tried this with other gene symbols like `A1BG` and `A1BG-AS1` and still facing the issue.

[code]

Could it be related to the database schema?

Any help would be much appreciated!

[2017-03-29 19:40] sckott commented on #170
hi @komalsrathi ! thanks for your question 😸

can you share your `elastic` pkg version and Elasticsearch version with me?

Does `elastic` R pkg and doing the same query in browser or with e.g., curl on command line give the same answer?

[2017-03-29 20:03] komalsrathi commented on #170
R package version: `elastic_0.7.8.9499`. I am pretty sure my Elastic search version is >=5 because I don't have nested querying enabled which is why I cannot do simple curl statements - I think that is something the admin is working on currenly. However the same query in the browser, returns the same output as `elastic` R package.

[2017-03-29 21:15] sckott commented on #170
thx, can get Elasticsearch ver doing `elastic::ping()`

[2017-03-29 21:19] komalsrathi commented on #170
Thanks!  It is `5.2.2`

[2017-03-30 14:29] komalsrathi opened #171 "Get curl request from Search?"
When using `Search`, is it possible to get the curl request that is hitting the elastic search server?

My query is something like this:

[code]

I want to know the corresponding request that is getting data from the server.

[2017-03-30 14:47] sckott commented on #171
not a full curl request, but can see verbose output with `config=httr::verbose()`, like `Search(config=httr::verbose())`

[2017-03-30 15:02] sckott commented on #170
try this for example

[code]

should do exact match for you

[2017-03-30 15:54] komalsrathi commented on #171
oh okay. The reason I wanted to see the curl request was because in the database schema I am trying to query, the nested fields are not mapped as "nested" which is required for querying a nested query - I guess? That's why I am not directly able to use curl to filter on a particular nested field. But when I use your package, I am able to filter using a `.` e.g. `gene_info.symbol:(PKD1 OR AAAS OR A

[2017-03-30 16:27] komalsrathi commented on #170
Another question - can you do this for nested queries as well?

[2017-03-30 21:35] sckott commented on #170
you should be able to do anything you can do as if you were doing curl requests or using python library, etc

[2017-03-30 21:36] sckott commented on #171
okay, sounds good, can i close this (is your problem sorted)?

[2017-03-30 21:42] komalsrathi commented on #171
Yes - my problem is not solved but I guess there is no way to get the request. I will close it.

[2017-03-30 21:42] #171 closed

[2017-03-30 21:43] #170 closed

[2017-03-31 05:39] sckott commented on #171
it's a bit beyond scope here to output curl requests - but i think we can easily get it sorted out.

If you're doing `out <- Search(index = index, type = type, q = query, body = body)`

Then curl request should be something like

[code]

[2017-04-03 19:20] komalsrathi opened #172 "Complex queries using AND and OR"
How do I do complex queries where I have to search by two fields? My query is below but I think somehow it is incorrect because it does not work. It extracts information matching to gene_info.symbol but does not return for that one sample id, instead it returns for all sample ids:

[code]

This is the structure of the JSON:
[code]

Using my query, I am unable to retrieve the specific samples.

[2017-04-03 19:41] komalsrathi commented on #172
I think this is the problem with the structure of the database.

[2017-04-03 19:41] #172 closed

[2017-04-03 20:21] sckott commented on #172
let me know if i can help

[2017-04-19 09:27] pieterprovoost opened #173 "add list input to docs_bulk() documentation"
`x` can be character, data.frame or list.

[2017-04-19 16:07] sckott commented on #173
thanks, will do

[2017-04-19 18:16] #173 closed

[2017-04-19 18:44] pieterprovoost commented on #173
Thanksn

[2017-04-26 19:26] mykesmith opened #175 "Extract data from elasticsearch V5 into R with elastic package, load into a data frame,"
Using your response in StackOverflow to
"Extract data from elasticsearch into R with elastic package, load into a data frame, error due to hits not expanding to the same length"
I ran into problems with ES v5

Using your Shakesphere example:

Error: "fields" parameter is deprecated in ES >= v5. Use "_source" in body
See also "fields" parameter in ?Search

so I switched to:

however the output has

[2017-04-26 20:04] sckott commented on #175
thanks for the issue @mykesmith

I haven't updated this client fully to make sure it works with all aspects of ES v5

for this problem, first, what version of `elastic` are you using?

[2017-04-28 21:27] mykesmith commented on #175
Scott, According to R I am using  "0.7.8.9515"

[2017-04-29 16:05] sckott commented on #175
@mykesmith  Try this

[code]

Those other fields are metadata about each document, i think they always are returned

You can quickly get just those two fields you want, or any `source` fields like

[code]

you may also want to rename

[code]

[2017-04-29 16:13] sckott commented on #164
think this is fxied

[2017-04-29 16:13] #164 closed

[2017-04-29 16:34] sckott commented on #102
just adding eg to docs, suggest is used through `_search` now

[2017-04-29 19:00] #102 closed

[2017-04-29 19:00] #145 closed

[2017-04-29 19:10] sckott commented on #169
haven't forgotten about this, still getting around to it

[2017-04-29 19:11] sckott commented on #160
sorted

[2017-04-29 19:11] #160 closed

[2017-04-29 19:13] sckott commented on #95
hmm, i don't see point of this i guess, since ES is doing logging.

[2017-04-29 19:13] #95 closed

[2017-04-29 19:16] sckott commented on #114
closing, they depreated this

[2017-04-29 19:16] #114 closed

[2017-04-29 19:17] sckott opened #176 "Fix percolate"
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-percolate.html#_multi_percolate_api deprecated, but should still work with older ES versions, so need to add a nice stop message for this

Make sure "percolate queries" work, add egs https://www.elastic.co/guide/en/elasticsearch/reference/5.5/query-dsl-percolate-query.html for search and search_uri

[2017-05-01 16:02] mykesmith commented on #175
Scott,
Thank you, your suggestions worked; I will use this on my own datasets and see where I get. I was reading over the weekend on how to edit the titles but you beat me to it.

Again thanks and this is an excellent package.

[2017-05-01 16:02] #175 closed

[2017-05-02 19:09] sckott commented on #175
glad it works, thx for kind words @mykesmith

[2017-05-05 13:27] iainmwallace commented on #169
Great!

In case it is useful to others, this is how I created custom json files for upserting  into elastic search to do this workflow.

library(dplyr)
library(jsonlite)
library(tidyr)
library(purrr)
library(pbapply)

map_header<-function(x){
  header <-
    list(update = list(
      "_index" = "my_index",
      "_type" = "my_id",
      "_id" = x
    ))

  header<-jsonlite::toJSON(header,auto_unbo

[2017-05-05 14:22] iainmwallace opened #177 "Question: how to use elastic with server that requires password?"
Hi,

Is it possible to use elastic with a server that requires a password?

The connect function allows one to specify the username and password but it says that these are not used currently.

I am particularly interested in using the docs_bulk function to upload a number of json files to the protected server.

thanks a million,

Iain

[2017-05-05 16:04] iainmwallace commented on #177
FYI:

Using the httr package and files created using the doc_bulk_prep function.

bulk_url<-paste0(url,"/_bulk")  #URL end point for elastic search including port number
files<-list.files(tempdir(),pattern="tmp_elastic_files_2") # location of the temporary json files that were created using doc_bulk_prep

for(i in seq_along(files)){
  cat(i,"\n")
  POST(url,
       body = upload_file(paste0(tempdi

[2017-05-05 22:52] sckott commented on #177
Sorry, I'll update the documentation. They are used internally, for simple auth like  you showed above `authenticate(es_user, es_pwd)`

Does it work for you?

[2017-05-05 22:53] sckott commented on #177
- [ ] Add to `connect()` and anywhere else needed that simple auth is used

[2017-05-05 22:55] sckott commented on #169
thanks for that

[2017-05-30 00:59] iainmwallace commented on #177
Not sure why but the simple auth doesn't seem to work for me if I do
a) connect(es_host="xxxxx",es_port = 5200,es_user = 'xxxxx', es_pwd = 'xxxxx')
b) docs_get()

The alternative approach of using GET with simple auth directly does work

If there is anything I can do to help debug, just let me know,
I am not clear how to get the functions make_url()/es_get_auth() function to run in the correct nam

[2017-05-30 11:21] kickbox opened #178 "Error: 404 - Client error: (404) Not Found while scrolling"
[code]

First scroll works well. I get the following error on the second run.

My code adapted from the nice scrolling example in your documentation.

[code]
**My question**
1. Why do I get this error even when I have set scroll= "1h" or even "30m", "20m" in "Search"

Scroll does not return any object in case of error. If there is an error like this I would like to check the return value and stop

[2017-05-31 00:16] sckott commented on #178
@kickbox DO you know about verbose errors?  See `errors` param in `connect()`

[2017-05-31 00:56] sckott commented on #177
What does curl verbose output give you after setting user and pwd? e.g,. I get

[code]

The `Authorization: Basic Zm9vOmJhcg==` header is the simple auth bit that should work

[2017-05-31 12:30] kickbox commented on #178
@sckott here is the result with `verbose()` and with` errors="complete"` in `connect()`

[code]

[2017-05-31 22:50] sckott commented on #178
@kickbox this thread seems very relavant https://discuss.elastic.co/t/searchcontextmissingexception-during-long-scroll-scan-operations/23775 - are you using the same scroll id for each request?  you need to use the scroll id returned from request 1 in the next request (aka, request 2), and so on

[2017-06-01 07:18] kickbox commented on #178
@sckott thanks. But I not reusing the old scrol ID. The scroll ID for the second request is

[code]

However I think this doesn't match with the scroll request from R, though I specified the same value via `scroll()`. Please see the entire logic below, the request scroll ID seems to be different from above

[code]

[2017-06-01 12:37] kickbox commented on #178
@sckott I think I have found the solution. I had to specify scroll_time not only on the initial `Search()` but also on the subsequent `scroll()` too. This fixes this. Thanks.

[2017-06-01 12:37] #178 closed

[2017-06-01 23:12] sckott commented on #178
Ah, so scroll time isn't being carried over - maybe we can carry it over somehow - but allow user to override it if they desire with setting a new scroll time when calling `scroll()`

thoughts?

[2017-06-03 22:07] nancyzhu24 opened #179 "Question: how to translate bool into list form in R elastic"
I am wondering how I can translate a bool query in the body into list form? For example for the following code:

[code]

Also once in the list form, can I use Search as part of a function in R?

[2017-06-05 04:59] kickbox commented on #178
My thoughts :)
That could be a way to go. But I would suggest to keep the same defaults as the official elasticsearch client api, to be in consistent with your other defaults.

I fell into this problem by blindly following the example in the documentation of your package. So may be this behaviour can be explicitly mentioned in the "scroll" example. That could be one way to prevent this..

[2017-06-07 16:07] sckott commented on #179
@nancyzhu24 can you share your `sessionInfo()` plz

[2017-06-07 16:15] sckott commented on #179
Try

[code]

[2017-06-09 14:39] sckott opened #180 "Types starting to go away"
https://github.com/elastic/elasticsearch/issues/15613#issuecomment-303727982

erroring now, not allowing > 1 type per index

Note: will also need to change example datasets to one type per index

e.g. using `elasticsearch-6.0.0-alpha2`

[code]

[code]

[2017-06-12 17:32] sckott commented on #177
closing due to inactivity, can re-open if needed

[2017-06-12 17:32] #177 closed

[2017-06-12 17:45] sckott opened #181 "Normalize paths to avoid URL problems"
via https://stackoverflow.com/questions/44369979/lexical-error-in-r-elastic-package-when-creating-mapping

for some functions, they are erroring due to extra paths that can be normalized

will investigate where best to do this

[2017-06-12 17:47] sckott opened #182 "improve scroll() docs"
via https://github.com/ropensci/elastic/issues/178#issuecomment-306103413

[2017-06-12 18:31] #181 closed

[2017-06-19 11:40] psramkumar opened #183 "How to use docs_bulk for Bulk Deletion"
`curl -XDELETE $elastic_search_index_url/_query -d '{
                "query" : {
                    "bool": {
                        "must_not": [
                            {
                                "term": {
                                    "createDate": "'$current_date'"
                                }
                            }
                        ]

[2017-06-19 16:29] sckott commented on #183
@psramkumar Can you point me to the docs for what you are describing. I've not heard of deleting in bulk with a query

in bulk operations, you have to always as far as i know provide a NDJSON structured blob https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-bulk.html

[2017-06-20 13:25] psramkumar commented on #183
check for this line in the link you provided, it says
The possible actions are index, create, **delete** and update. index and create exp ...

what is that delete mean in this document.

[2017-06-20 15:13] sckott commented on #183
To delete the given record, as you'd guess - did you try any of the examples in `elastic::docs_bulk`

[2017-06-21 12:05] psramkumar commented on #183
i do not see any Example provided for bulk Delete in El Document

[2017-06-21 19:38] sckott commented on #183
the examples in this package we are talking about here right now - in R, go to the help page, by running `?elastic::docs_bulk`

[2017-06-24 10:45] pieterprovoost commented on #183
I don't think `docs_bulk` currently supports `delete` or `update`, only `index` (despite what the docs say). See https://github.com/ropensci/elastic/blob/master/R/docs_bulk_utils.R#L9

[code]

[2017-06-24 16:48] sckott commented on #183
@pieterprovoost right, thanks for pointing that out.

you can create your own file with bulk operations and use that with docs_bulk - but no way to do from a data.frame or list at the moment.

I've toyed with allowing to set different operations with data.frame or list input https://github.com/ropensci/elastic/issues/169 but no progress yet

[2017-07-05 20:49] henfiber opened #184 "unnecessary multiple ping() calls to get ES version"
Hello there. After profiling some ES queries, I noticed that the minimum request time was about 300 milliseconds and found out that this is in large (the 200ms, about 65%) due to the multiple `ping()$version$number` checks in `search_POST()` and `search_GET()`. You may have not noticed it during development with a local server, but makes a large difference when ES is behind a distant network. (In

[2017-07-11 23:09] sckott commented on #184
thanks for the issue @henfiber

Right, i probably didn't notice due to testing on local server instance.

I'll cache the ES version and reuse it

[2017-07-11 23:51] sckott opened #186 "set `application/x-ndjson` content-type header for bulk requests"
seen via https://github.com/elastic/elasticsearch-py/issues/609

docs https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-bulk.html

[2017-07-12 00:20] henfiber commented on #184
thanks @sckott much appreciated

[2017-07-12 16:31] sckott opened #187 "test simple auth"
via #185

using nginx/reverse proxy - and/or caddy w/ equiv

[2017-07-25 14:28] Robert-IW opened #188 "docs_bulk memory usage"
I have a script that creates a data frame and uploads chunks from a server with 32 GB RAM to an elasticsearch server with 1 replica and 4 shards using docs_bulk(). I've had no problem creating numerous indexes but currently I am running out of memory with a data frame of 42 mil rows. I've tried chunk sizes from 1000 to 50,000 (~87 KB to 5 MB) but in all cases the memory usage slowly creeps up to m

[2017-07-25 17:50] sckott commented on #188
thanks @Robert-IW for using `elastic` - sorry for the trouble

Can you give a reproducible example?  using fake data is fine as long as reproduces the problem.  Would help a lot as it's hard to locate memory leaks

[2017-07-26 09:09] Robert-IW commented on #188
Thanks for your prompt reply @sckott

I have attached the script and csv files for 2 of the 108 stations that I load. The script builds a data frame from all of the individual station csv files before chunking and bulk sending. I also attempted the docs_bulk_prep() using chunks of 40,000 and there have been no memory issues with this method(included in the attached script). I hope this is sufficie

[2017-07-26 20:06] sckott commented on #188
thanks @Robert-IW will have a look

[2017-08-03 18:49] sckott opened #189 "type_exists broken in >v5"
need to use `HEAD /index/_mapping/type` instead of `HEAD /index/type`

[2017-08-03 18:49] sckott commented on #189
https://www.elastic.co/guide/en/elasticsearch/reference/5.5/indices-types-exists.html

[2017-08-03 18:50] sckott commented on #189
looks like any version > 5 has the new format https://www.elastic.co/guide/en/elasticsearch/reference/5.0/indices-types-exists.html

[2017-08-03 19:15] #189 closed

[2017-08-28 14:44] sckott commented on #188
@Robert-IW okay, trying some things, re-install like `devtools::install_github("ropensci/elastic@docs-bulk-memory")`

and try `docs_bulk` again,

- added a new parameter `response` with default value `FALSE`, so the output from `docs_bulk`  is empty now so that it's not using up memory
- now cleaning up temporary files used to load data into the bulk API after they are used - may not affect memory

[2017-08-28 22:56] sckott opened #190 "field_stats and fields param in ES > v5"
may need fixing at least to fail better?

[2017-08-28 23:01] #184 closed

[2017-08-29 04:56] sckott opened #191 "ingest API"
https://www.elastic.co/guide/en/elasticsearch/reference/current/ingest-apis.html

[2017-08-29 04:57] sckott opened #192 "shrink index API"
https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-shrink-index.html

[2017-08-29 04:59] sckott opened #193 "index rollover API"
https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-rollover-index.html

[2017-08-29 05:02] sckott opened #194 "add a `profile` param to Search() and Search_uri()"
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-profile.html

[2017-08-29 05:05] sckott opened #195 "Document APIs to add"
- [x] `_reindex `  - https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-reindex.html
- [x] `_delete_by_query ` - https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-delete-by-query.html
- [x] `_update_by_query ` - https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-update-by-query.html

[2017-08-29 14:36] sckott opened #196 "index sorting"
https://www.elastic.co/guide/en/elasticsearch/reference/current/index-modules-index-sorting.html

starting in v6

[2017-08-30 02:12] #182 closed

[2017-08-30 02:36] sckott opened #197 "Add Content-Type headers to all requests"
in most cases will be `application/json` but could be something else in some cases

[2017-08-30 19:19] #134 closed

[2017-08-30 19:19] #133 closed

[2017-08-31 00:24] sckott opened #198 "support multipercolate API at some point"
https://www.elastic.co/guide/en/elasticsearch/reference/2.4/search-percolate.html#_multi_percolate_api

[2017-08-31 00:24] sckott commented on #176
not doing multipercolate yet, opened new issue for that #198

[2017-08-31 00:42] sckott opened #199 "fix example in mapping_create"
[code]

[2017-08-31 01:18] sckott commented on #199
maybe https://discuss.elastic.co/t/filter-or-output-plugin-complains-cant-merge-a-non-object-mapping-with-an-object-mapping/46665?source_topic_id=81841

[2017-08-31 04:53] #176 closed

[2017-08-31 04:53] #197 closed

[2017-09-11 01:37] sckott commented on #188
ping @Robert-IW

[2017-09-11 16:36] #186 closed

[2017-09-11 22:57] sckott opened #200 "not sure `id` column/ or list field is used in docs_bulk"
seems like I set it up to work but it does not

[2017-09-12 18:45] sckott commented on #200
woopsy, all good

[2017-09-12 18:45] #200 closed

[2017-09-12 18:49] sckott commented on #169
@iainmwallace  putting off to the next milestone - but some work on a different branch. install like `devtools::install_github("ropensci/elastic@bulk-update")` and let me know what you think

[2017-09-12 19:23] #147 closed

[2017-09-22 12:45] emillykkejensen opened #201 "Is parent possible?"
Is it possible to include the parent value when using the docs_bulk function?

https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-bulk.html#bulk-parent

[2017-09-22 12:58] emillykkejensen opened #202 "quiet argument"
The progress bar is a nice touch - but it could be nice, if it could be turned off!

[2017-09-22 17:00] sckott commented on #202
for what function(s)?

[2017-09-22 17:06] sckott commented on #201
not yet i think.

can you give an example of how this is done, links or so?

[2017-09-25 09:48] emillykkejensen commented on #201
I had just written a long reply, when I realized that the _parent field will be removed in favour of the join field i v6.x - so I guss it is dosen't make that much sense to look into it, as it will be removed in versions to come.

Futhermore, it looks like the 'join' field can be set from the field datatypes (not meta-fields like the _parent), which makes it possible to do today with the current m

[2017-09-25 09:50] emillykkejensen commented on #202
docs_bulk.data.frame() in docs_bulk.r

One way to do it, would be to add an extra logical argument called 'quiet'

The on line 213/214 and line 217 add if(quiet)

[2017-09-25 19:40] ebdavison opened #203 "Search for value that matches R variable"
I need to be able to search for a set of documents where a particular field matches.

My code is like:

[code]

But I have not been able to make this work with either a fixed string 'customer=example' nor can I figure out how to use the R variable as a replacement.

This sort of example is not in the documentation and I need to be able to subset this based on an R variable as I produce a report fr

[2017-09-25 21:53] sckott commented on #203
thx for the question @ebdavison

this is beyond scope of this package I think, but here's a reproducible example using whisker:

[code]

help?

[2017-09-25 22:05] sckott commented on #201
this pkg is setup to be compatible as much as possible with all Elasticsearch versions, so i would want to add support for < & > v6 - i'll at least add egs for  how to do with v6 even if no code changes, and add support for <v6

[2017-09-26 10:36] emillykkejensen commented on #201
I have had a look at it my self - as I would like to include more parameters in the docs_bulk function then index, type and ids. So I have changed the make_bulk function a bit, and added some extra things to the docs_bulk_prep function (two more auguments: 'quiet' and 'meta_fields')

meta_fields accepts a named list - eg. list("_routing" = c("1", "2", "5")) and can also accept NA values

You can f

[2017-09-26 19:32] ebdavison commented on #203
Perfect!!!  That is exactly what I needed and works perfectly.

Thanks.

[2017-09-26 19:32] #203 closed

[2017-09-26 19:47] sckott commented on #203
great , glad it works

[2017-09-26 21:41] sckott commented on #201
thanks, i'll have a look through this

[2017-09-29 15:22] gerasimos commented on #180
Some problem using 6.0.0-rc1

[2017-09-30 00:35] sckott commented on #180
@ gerasimos i got an email notification that you said on this issue

but now it's gone. did you delete it (and thus i'll just forget about it) or maybe you posted and github somehow lost it (in which case I'll make sure to consider it)

[2017-10-09 17:13] dkincaid opened #204 "Accessing server which uses basic auth for authentication"
We use nginx with basic auth to front our ES server. It seems like it's not currently possible to connect to this server with this package. So this is a request to add that functionality.

[2017-10-09 17:30] sckott commented on #204
does this work https://github.com/ropensci/elastic/issues/177#issuecomment-305050990 for you?  if not, i'll look into it

[2017-10-09 17:40] dkincaid commented on #204
Right now I'm getting this:

`> esconn <- elastic::connect(es_host = eshost, es_port = esport, es_user = "esprd", es_pwd = "password", es_path = "")

Error: 400 - request [/] contains unrecognized parameters: [errors], [host], [path], [port], [pwd], [transport], [user]`

[2017-10-09 21:40] sckott commented on #204
`ping` doesn't take any parameters. can you do it again just calling it like `elastic::ping()`

[2017-10-10 00:01] dkincaid commented on #204
Oh man. Sorry about that. Been a long day. Yeah that's working. Sorry for the trouble.

[2017-10-10 05:17] sckott commented on #204
great, glad its working 👍

[2017-10-10 05:17] #204 closed

[2017-10-10 13:22] gerasimos commented on #180
I delete it, because I understood that it was not a bug but an issue related to the maintenance of the documentation.

[2017-10-10 15:10] sckott commented on #180
okay, thx

[2017-11-20 15:44] sckott opened #205 "vignettes not showing on CRAN page"

[2017-11-30 16:24] dmendez23 opened #206 "Rscript error 400"
I have a R script (script.R) that loads 25-30K documents in elasticsearch in each execution.

The point is that I can execute it in Rstudio properly. However, when I try to execute it from command line using Rscript I always get the same error:

Error: 400 - failed to parse
In addition: There were 50 or more warnings (use warnings() to see the first 50)
Execution halted

The strangest thing is tha

[2017-11-30 17:57] sckott commented on #206
thanks @dmendez23

For large amount of documents, the bulk API https://www.elastic.co/guide/en/elasticsearch/reference/6.0/docs-bulk.html seems more appropriate. Have you seen `elastic::docs_bulk` function?

There could be lots of different problems, hard to know without seeing your file. one potential thing is are you forgetting to set the connection to your elasticsearch instance?

[2017-12-13 17:30] dmendez23 commented on #206
Thanks @sckott
I have proved the elastic::docs_bulk function and it seems to work! I leaved the script executing last days and I haven't done the same problems anymore.

Thanks for the help!

[2017-12-13 17:32] sckott commented on #206
great, glad its working

[2017-12-13 17:32] #206 closed

[2018-01-05 20:06] sckott opened #207 "tests failing on ES v6 on search and search_uri"
https://travis-ci.org/ropensci/elastic/jobs/325573834#L2507

and check for any other failures locally

[2018-01-12 08:41] emillykkejensen opened #208 "Temporary files pile-up"
I have a repeat loop, where I continuously gather, analyze and index data on one server (using R-studio server) and then store it on another elasticsearch server.

The problem is, that the temp dir on my R-Studio server fills up and after a weeks’ time all of my disk space is used up – resulting in all hell breaking loose.

So is there a way to fix this? Found a possible fix in the raster package

[2018-01-15 18:02] sckott commented on #208
What version do you have?  I think should be fixed via https://github.com/ropensci/elastic/issues/188

[2018-01-17 09:54] emillykkejensen commented on #208
I'm using the CRAN version 0.8

[2018-01-17 15:25] sckott commented on #208
Try installing latest here from github `devtools::install_github("ropensci/elastic")` let me know if that fixes it

[2018-01-18 08:48] emillykkejensen commented on #208
Okay - I'll try the github package and will get back to you in 24 hours or so to see if it is fixed :-)

[2018-01-19 09:40] emillykkejensen commented on #208
Just had a look at my disk usage and unfortunately there still is a steady increase due to a file pile-up in the ‘/tmp/RtmpBOjw9w’ temp folder.

[2018-01-19 17:57] sckott commented on #208
can you paste in the output of `sessionInfo()` so I can see what version of `elastic` you are running

[2018-01-19 18:10] emillykkejensen commented on #208
The output of sessionInfo() on my R-studio Server:

[code]

Version info running elastic::info():

[code]
and

[code]

[2018-01-19 18:15] sckott commented on #208
okay, i'll look into it.

I realize that I don't know what functions you're using - are you using `docs_bulk` by chance?

[2018-01-19 18:17] emillykkejensen commented on #208
Yes I'm using docs_bulk :)

[2018-01-19 19:35] sckott commented on #208
thanks

[2018-01-19 20:24] sckott commented on #208
seems like you must not be restarting the R session much since temp files are cleaned up on the session ending?

[2018-01-19 20:52] emillykkejensen commented on #208
Nop - no restart. It runs in a repeat loop continuously.

[2018-01-19 21:02] sckott commented on #208
@emillykkejensen try reinstalling `devtools::install_github("ropensci/elastic")` and trying again, i guess though if you don't restart your session those temp files currently there will still be there - unless you clean them up manually

[2018-01-19 21:13] emillykkejensen commented on #208
Okay - I'll try reinstalling and see if it fixes it.

[2018-01-21 09:39] emillykkejensen commented on #208
Perfect - that did it - it no longer builds up the temp dir.

Problem solved!

[2018-01-21 09:39] #208 closed

[2018-01-21 17:06] #202 closed

[2018-01-21 17:07] sckott commented on #202
@emillykkejensen reinstall and try again , see `quiet` param

[2018-01-21 17:09] sckott commented on #188
closing due to lack of activity

[2018-01-21 17:09] #188 closed

[2018-01-21 17:12] sckott commented on #196
still marked as beta, don't do yet

[2018-01-21 17:13] sckott commented on #179
closing due to no response

[2018-01-21 17:13] #179 closed

[2018-01-21 17:18] sckott commented on #169
any thoughts @iainmwallace ?

[2018-01-21 20:28] iainmwallace commented on #169
Hi Scott,

Just tried but had an issue finding the docs_bulk_update function discussed
in this commit
https://github.com/ropensci/elastic/commit/12dcb92696d23bfc396cdddf184df73e4a5c195d

I have a brief write up on what I did here :
http://www.iainmwallace.com/2018/01/21/elasticsearch-and-r/

Is there something else I should be doing?

Cheers,

Iain

On Sun, Jan 21, 2018 at 12:18 PM, Scott Chamberl

[2018-01-21 23:39] sckott commented on #169
@iainmwallace sorry about that, just updated the branch https://github.com/ropensci/elastic/tree/bulk-update - i had forgotten to update NAMESPACE and make the man file for it.

try again after reinstalling from that branch

[2018-01-22 19:16] iainmwallace commented on #169
Thanks - I can now see the function.

When I try to run the following code, I am not able to update the data due
to the index being read only. Is there a setting somewhere that I need to
change when creating the index?

library(elastic)
connect(es_port = 9200)

df <- data.frame(name = letters[1:3], size = 1:3, id = 100:102)
index_create('test')
docs_bulk(df, 'test', 'foobar', es_ids = FALSE)

df2

[2018-01-22 19:23] sckott commented on #169
possibly this https://stackoverflow.com/questions/34911181/how-to-undo-setting-elasticsearch-index-to-readonly/34911897#34911897 same here https://discuss.elastic.co/t/forbidden-12-index-read-only-allow-delete-api/110282/4

[2018-01-22 23:06] iainmwallace commented on #169
Thanks - the issue was that my disk was nearly full causing elastic search
force all indices to be read only (a flood stage watermark, more details
available here
https://www.elastic.co/guide/en/elasticsearch/reference/6.x/disk-allocator.html
)

The update looks great! Works as expected. Only small suggestion is that
the warning if the id column is missing incorrectly states that '_id' must
be pre

[2018-01-23 18:57] sckott commented on #169
Glad you sorted out the problem, and that the fxn works.

Thanks for the suggestions

- [ ] fix warning, see above
- [ ] more examples for `index_create`, e.g, to pass `read_only` parameter

[2018-01-24 21:51] dbuijs commented on #191
Temporary workaround to use pipelines (that you've already defined):

    docs_bulk(my_data_frame, index = "my_index", type = "my_row", query = "pipeline=my_pipeline")

[2018-01-24 22:10] sckott commented on #191
thanks @dbuijs will have a look

[2018-01-29 00:07] sckott opened #209 "move to markdown docs"

[2018-01-30 00:18] #169 closed

[2018-01-30 00:19] sckott opened #211 "Add more examples to `index_create`"
e.g, to pass `read_only` parameter

via #169

[2018-01-30 00:19] sckott commented on #169
@iainmwallace i think it's done now, merged into master, so you can `devtools::install_github("ropensci/elastic")` and get latest

[2018-01-30 00:19] sckott commented on #169
any feedback is good, only supports data.frame's for now - added another example, so there's one for adding new rows or new columns, both the same operation really.

[2018-01-30 07:06] #209 closed

[2018-02-08 13:31] AMR-KELEG opened #212 "'docs_bulk' & 'docs_bulk_update' failing with character ids"
I am currently having a problem with using character ids in bulk operations.
The **docs_bulk** and **docs_bulk_update** only works with numeric ids!
Am i missing something?

[code]
[code]

[2018-02-08 17:36] sckott commented on #212
thanks @AMR-KELEG - i'm guessing that a data.frame with ids as factors doesn't work, will have a look

[2018-02-08 19:22] #212 closed

[2018-02-08 20:46] AMR-KELEG commented on #212
@sckott Thanks alot!
I tried to understand and solve the problem but i am not that familiar with R :sweat_smile:

[2018-02-08 20:54] sckott commented on #212
np. i avoid factors in data.frames so i didn't' run into this problem, i should have thought about that :(

[2018-03-07 14:43] whs2k opened #213 "SparkR API to read and write from ElasticSearch via distributed dataframes"
**Is there a way to  write a sparkR dataframe or RDD to ElasticSearch with multiple nodes?**

This elastic package for R is great for normal interactions with ElasticSearch but says nothing about hadoop, distributed dataframes, or RDDs in SparkR 2.0+. When I try to use it I get the following errors:

[code]

If this were PySpark, I would use the [`rdd.saveAsNewAPIHadoopFile()` function as shown he

[2018-03-07 22:11] sckott commented on #213
thanks for your question @whs2k

is your main use case inserting data?  or inserting and reading?

[2018-03-07 22:15] sckott commented on #198
percolate has been removed https://www.elastic.co/guide/en/elasticsearch/reference/6.2/breaking_60_percolator_changes.html#_deprecated_percolator_and_mpercolate_apis_have_been_removed

[2018-03-07 22:15] #198 closed

[2018-03-07 23:01] whs2k commented on #213
Main use case is inserting data into ES; reading would be a nice to have but is not the priority right now. FYI in PySpark, reading RDD's from elastic is handled by the `newAPIHadoopRDD()` method

[2018-03-08 00:34] sckott commented on #213
okay, thanks

[2018-03-08 08:42] emillykkejensen opened #214 "Bug in index_create with list body"
When trying to create an index with settings from a list, it gives an error.

Exampel:
[code]
Will give the error:
[code]
Where as:
`index_create(index = "test", body = jsonlite::toJSON(body, auto_unbox = TRUE))
`
Works fine.

Seems to me, that this line might need to be updated with the es_PUT function?
https://github.com/ropensci/elastic/blob/d8b6e9eb084baa89e3df92c630fb4d2450ae878d/R/index.R#L2

[2018-03-08 16:53] #214 closed

[2018-03-08 16:53] sckott commented on #214
thanks @emillykkejensen should be fixed now

[2018-03-26 22:07] sckott opened #215 "WKT now supported"
https://github.com/elastic/elasticsearch/issues/9120
https://github.com/elastic/elasticsearch/issues/27690
https://github.com/elastic/elasticsearch/pull/27692

maybe just show an example, see if need to make any code changes to support it

[2018-03-27 02:22] jbrant opened #216 "Document id required in docs_create function"
It seems that the docs_create function requires a manually specified document ID. Why not make that an optional field and let Elasticsearch generate the ID?

[2018-03-27 19:48] #216 closed

[2018-03-27 19:49] sckott commented on #216
thanks @jbrant - we have this already implemented in `docs_bulk`, but not here, i guess b/c nobody raise the issue yet.

anyway, change made, reinstall `remotes::install_github("ropensci/elastic")` and try it again.

[2018-03-28 01:55] harryprince commented on #215
great job, thanks a lot. It's very useful in model debugging and OLAP.

[2018-03-28 01:59] harryprince opened #217 "Support dplyr with Elastic"
elastic seems so great, is it possible that integrate elastic to dplyr, which can decrease the learning curve for the most of analyst.

[2018-03-28 02:06] sckott commented on #217
dplyr is specifically for SQL backends. Have you seen https://github.com/ropensci/nodbi

[2018-03-28 06:53] jbrant commented on #216
Awesome - thank you!

[2018-03-28 22:56] #217 closed

[2018-04-05 19:14] #215 closed

[2018-04-09 14:40] happyshows opened #218 "Index_Get function no longer works? Maybe need to implement a set of post?"
Maybe it's related to the breaking change in 6.0?
[link](https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_60_rest_changes.html)
[code]

devtools::session_info()
[code]

[2018-04-09 23:09] sckott commented on #218
what version of Elasticsearch are you using?

[2018-04-10 12:34] happyshows commented on #218
I'm on ES 6.2.3

[2018-04-10 15:33] cranknasty opened #219 "Has there been a change to behaviour of fuzzy match?"
HI,
I've been running some fuzzy searches using this package for about 6 months now and everything has been running okay until about 2 weeks ago.

My fuzzy searches have started returning 0 results.
I can do a standard search using Search(a,b, q = 'something') and get plenty of results... but the fuzzy match is empty.
Please help...
Has anything changed in the package recently that could cause thi

[2018-04-10 18:34] sckott commented on #218
ah, i see, They don't allow multiple comma separated parts of the path anymore. will fix that

[2018-04-10 18:45] #218 closed

[2018-04-10 18:45] sckott commented on #218
@happyshows reinstall and try again, should be fixed. You can now only pass in one thing to `features` param in `index_get`

[2018-04-10 18:51] sckott commented on #219
Your session info shows your using `elastic` from CRAN https://cran.rstudio.com/web/packages/elastic/ which hasn't been updated since last September, so I don't think it's a change in this pkg. Did you change your Elasticsearch version?

[2018-04-10 20:03] sckott opened #220 "XPACK getting rolled into base distribution"
https://www.elastic.co/blog/doubling-down-on-open

see what new things need to be added here, supporting security being an important one

[2018-04-10 20:29] sckott commented on #205
no idea why this is happening, trying to use docs on gh pages, so will then make this not a big deal

[2018-04-11 10:33] cranknasty commented on #219
Thanks for the response.
No there's been no update to our elastic server either.
confounding.

[2018-04-11 21:11] sckott commented on #219
using current version of `elastic` (install with `remotes::install_github("ropensci/elastic")`) on master, a fuzzy search works for me on one of the example datasets, running ES ver. v6.2.3. Does this work for you?

[code]

[2018-04-12 03:08] sckott commented on #220
nevermind, "open", not "open source"

[2018-04-12 03:08] #220 closed

[2018-04-23 21:55] paramiyer opened #221 "Error: Client error: (401) Unauthorized when using docs_bulk() on RStudio"
{
  "name" : "urDx7BV",
  "cluster_name" : "elasticsearch",
  "cluster_uuid" : "mrnOSeExQGKVA0nI_a7QSA",
  "version" : {
    "number" : "6.2.4",
    "build_hash" : "ccec39f",
    "build_date" : "2018-04-12T20:37:28.497551Z",
    "build_snapshot" : false,
    "lucene_version" : "7.2.1",
    "minimum_wire_compatibility_version" : "5.6.0",
    "minimum_index_compatibility_version" : "5.0.0"
  },
  "t

[2018-04-23 23:19] paramiyer commented on #221
@sckott, no I haven't. Should I be passing the config params in creating the index too? In my example & error reported I am not able to create the index in the first place

[2018-04-24 18:06] paramiyer commented on #221
I still get the same error. I investigated further with 'httr::verbose()' & looks like my proxy is failing. Please close this ticket as this issue isnt related to elastic

[2018-04-24 18:06] #221 closed

[2018-04-24 18:15] sckott commented on #221
okay, thanks

[2018-05-02 05:48] #219 closed

[2018-06-12 21:14] fissehab opened #222 "Searching phrases"
I want to search exact phrases. How can I do it? Basically, I want to use something like below

`"query": {
        "query_string" : {
            "type":       "phrase",
            "query" : "(cloud computing) OR (supply chain)"
        }
    }`

[2018-06-12 23:37] sckott commented on #222
does this do what you want? https://www.elastic.co/guide/en/elasticsearch/reference/6.2/query-dsl-match-query-phrase.html

[2018-06-13 01:53] fissehab commented on #222
Thanks. But how can I use that in R to search any of the phrases shown above?

[2018-06-13 03:54] fissehab commented on #222
I have many phrases and also the phrases are dynamic. They are search input on a shiny app . Using [query string](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#query-string-syntax) looks easier to implement if it is possible to search phrases. But with the above approach you provided, how can I search many phrases? By just repeating the "match_ph

[2018-06-19 08:54] Lchiffon opened #223 "Invalid UTF-8 start byte error in docs_bulk.data.frame"
elastic search Version： 6.3.0

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

In Windows system, there will be some problems in encoding (windows default encoding for Chinese character is GB2312, but elastic use UTF-8)
When data has a character object in GB2312, `docs_bulk` will return an  **Invalid UTF-8 start byte error** error like:

code:
[code]

return:
[code]

[2018-06-19 17:44] sckott commented on #223
thanks! looking at the PR

[2018-06-20 21:28] sckott commented on #222
i'm not sure. i'd google/search stackoverflow. or ask on the elasticsearch discussion forum https://discuss.elastic.co/

[2018-06-20 21:31] sckott commented on #128
closing - do reopen if you're still having issues

[2018-06-20 21:31] #128 closed

[2018-06-21 12:33] sckott commented on #205
ah looks like I didn't have knitr, or vignettebuilder, woopsy

[2018-06-21 12:33] sckott commented on #205
already fixed

[2018-06-21 12:33] #205 closed

[2018-06-28 21:08] sckott commented on #87
work on branch `r6-conn` https://github.com/ropensci/elastic/blob/r6-conn/R/Elasticsearch.R

[2018-07-11 09:45] bornakke opened #225 "Handling dots and slahes"
Hi

I'm making a number of searches that includes dots and slashes in the query string - e.g. A.M.B.A or G/S. I can escape these using the Search functions 'q'-parameter e.g.:

`json <- elastic::Search(index = "cvr-permanent", size = 3000, body = "A\\.M\\.B\\.A", df = "Vrvirksomhed.virksomhedMetadata.nyesteNavn.navn", default_operator = "AND"
`

When I however attempt to built more complicated req

[2018-07-11 19:44] sckott commented on #225
thx for your question @bornakke

first thing I always say when you find errors is to set `connect(errors="complete")` to get the stacktrace from Elasticsearch

2nd, do you need to escape the periods for Elasticsearch database, or for R?  If you use 4 slashes it  seems to work (internally we use `jsonlite` to check that the JSON is valid, so you can check like):

[code]

and leaves you with `\\.` f

[2018-07-12 08:08] bornakke commented on #225
That did the trick. I had tried one, two and even three backslashes, but I didn't have the fantasy to attempt with four ;)

Thank you so much for taking the time to help @sckott!

[2018-07-12 08:08] #225 closed

[2018-07-12 15:32] sckott commented on #225
glad it worked!

[2018-07-16 17:02] sckott commented on #191
SO question related https://stackoverflow.com/questions/51365187/index-files-using-r-and-elastic

[2018-07-17 17:12] Jensxy commented on #191
How to use the workaround for arrays?

[2018-07-17 20:45] sckott commented on #191
done in 6be1f45

[2018-07-17 20:45] #191 closed

[2018-07-17 20:46] sckott commented on #191
@dbuijs @Jensxy just added ingest/pipeline fxns, reinstall `remotes::install_github("ropensci/elastic")` and see `?ingest`

[2018-07-18 17:50] Jensxy opened #226 "Using pipelines"
I have created a pipeline within R. Now I want to use the pipeline to index documents with additional fields. I pipeline looks like this
[code]

My problem is that I want to index documents with attachments (emails).

So my 2 questions are.

1.  How do I use the pipeline to index documents with additional fields like sender, receiver etc.?
2.  How do I use the pipeline within an array of attachmen

[2018-07-19 12:13] aleksaschmidt opened #227 "Extract aggregated data from Elasticsearch"
Hi,
I'm trying to request aggregated data from Elasticsearch in RStudio.
My code:
[code]
However, what I get it is all data, and not only these three attributes (function, session_id, start:time) that I defined in the aggs.
What is need to be done to get only these three attributes?

I use Elasticsearch 6.2

[2018-07-19 16:22] sckott commented on #227
session info please? the output of `devtools::session_info()`

[2018-07-19 16:34] sckott commented on #227
thanks for your question @aleksaschmidt !

What do you mean by "I get it is all data"?

Any chance you can make a reproducible example with publicly available data?  That would make it easier for me to help.

[2018-07-20 16:24] aleksaschmidt commented on #227
**Session Info:**
[code]

I used now the shakespeare dataset.
[code]
And I got an Error: Unknown BaseAggregationBuilder [composite].
It seems that I cannot do composite aggregations.
Actually, I am trying to filter the data by speaker and then I want to get only two attributes of this filtered data: play_name and speech_number.

[2018-07-23 18:30] sckott commented on #226
thanks for the issue @Jensxy

will have a look and get back to you soon.

[2018-07-23 22:30] sckott commented on #227
thanks, will have a look

[2018-07-24 13:10] aleksaschmidt commented on #227
Hi,
I have found the way how I can get the filtered data.
I used this script:

`output <- Search(index = "shakespeare", q = {"speaker:westmoreland"}, body = '{"_source" : ["play_name", "speech_number"]}', asdf = TRUE)$hits$hits`

[2018-07-24 17:38] sckott commented on #227
Great. This https://github.com/ropensci/elastic/issues/227#issuecomment-406652239 is still a question though, correct?

[2018-07-25 16:28] Neleawan opened #228 "incorrect scroll example"
Hello,
In the documentation and the vignette, the scroll example is incorrect.
At least for my case with elasticsearch 2.3

The example is the following;
[code]

But by doing so, since the default size of Search is 10, you miss 10 results from the first Search.
Actually, the first Search return a scroll id for the next results.
And I think that if you add the time_scroll in the first `Search`, you

[2018-07-25 18:25] sckott commented on #228
thanks for the issue @Neleawan - I'll have a look and get back to you

[2018-07-25 20:52] aleksaschmidt commented on #227
Yeap. I still want to know about composite aggregations.

[2018-07-25 21:16] Neleawan commented on #228
I'm using 0.8.0

[2018-07-27 21:50] #228 closed

[2018-07-27 21:51] sckott commented on #228
i think this commit fixes the egs, let me know if ot

[2018-07-27 21:52] sckott commented on #222
hopefully you've found an answer, it sort of falls out of scope of this package as it's more of a how to for Elasticsearch database itself

[2018-07-27 21:52] #222 closed

[2018-08-10 14:17] Jensxy opened #229 "Scroll returns hits with scroll id before scrolling"
Scroll is returning hits on initial search, where I was expecting it to only return a _scroll_id.

When I execute `res <- elastic::Search(index = "my_index, body=body, time_scroll  = "3m", size = 1000)`
I expect `length(res$hits$hits)` to be zero. However, the result is not zero after the package update.

Before the update, `length(res$hits$hits)` was zero and I had to scroll first to get hits. Se

[2018-08-10 16:52] sckott opened #230 "rework alias fxns"
via https://stackoverflow.com/questions/51782977/elastic-create-multiple-aliases-at-a-time-in-r

seems that https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-aliases.html instead of basing everything in URL's pass data in bodies to give more flexibility

[2018-08-10 19:28] #230 closed

[2018-08-10 20:05] sckott commented on #226
1. have you seen these docs https://www.elastic.co/guide/en/elasticsearch/plugins/master/using-ingest-attachment.html seems like you need the `properties`  field to define further fields to index
2. have you seen these docs https://www.elastic.co/guide/en/elasticsearch/plugins/master/ingest-attachment-with-arrays.html seems like you need to use the `foreach` directive?

[2018-08-10 20:06] sckott commented on #121
dealt with this in part in #230

don't think i'll support full on arbitrary bodies unless someone asks for it

[2018-08-10 20:06] #121 closed

[2018-08-10 20:16] Jensxy commented on #226
Yes, I have seen these docs, but how do I apply these things within R using the elastic package? That is my problem.

[2018-08-10 20:25] Jensxy commented on #229
No hits were returned on initial search by default by ES 2.4 and the old elastic package. I upgraded my ES version to 6.3.

I know that the default settings have changed. I thought that there might be a way to get the same no hits on initial search in ES 6.3 as well.

And the following example from the package does not work completely.

[code]
You won't get all results when you are using this exam

[2018-08-10 20:37] Jensxy commented on #226
Okay, I will try it. Thank you very much.

[2018-08-11 10:09] Jensxy commented on #230
Will you also add the possibility to delete more than one alias at a time?

[2018-08-11 14:58] sckott commented on #230
will try

[2018-08-21 23:57] sckott commented on #226
@Jensxy  let me know if you get it to work

[2018-08-22 14:05] Jensxy commented on #226
I've just created a foreach pipeline and then I used

[code]

And my body looks like this

[code]
Then everything works fine :)

[2018-08-22 19:41] sckott commented on #226
great! i'll see if I should add anything to docs to show an example

[2018-08-23 09:02] mbannert opened #231 "Bad URL, colon is first character"
I got the latest elasticsearch, just downloaded the R package from github via devtools.
Unfortunately running

[code]

leads to :
`Error in curl::curl_fetch_memory(url, handle = handle) :
  Bad URL, colon is first character`

I use curl 7.54.0 (x86_64-apple-darwin17.0) on OSX High Sierra.

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2018-08-23 19:06] sckott commented on #231
did you run `connect()` first?

[2018-08-23 20:40] mbannert commented on #231
@sckott thanks :bowtie:
Even though not reading the readme file til the end was obviously my bad, I'd suggest to move up the initialize part. Given that  you manually start elasticsearch, it's not that obvious that you have to initialize things from R. In other words: the Shakespeare example is not reproducible that way.

[2018-08-23 20:40] #231 closed

[2018-08-23 20:59] sckott commented on #231
good point, fixed now

[2018-09-19 09:17] bfgiordano opened #232 "Does connect() support providing SSL certs, as well as username/password for HTTPS? For Xpack Security (paid features) - ES v5.5, v6.2, 6.3, 6.4"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2018-09-19 18:01] sckott commented on #232
thanks for your question @bfgiordano

SSL certs aren't supported at the moment, but I do have a branch here (see https://github.com/ropensci/elastic/issues/87) where I'm re-working the how the connection is done and can include this.

I already have username/pwd support, see parameters `es_user`/`es_pwd` in `connect()` and those should are used in simple auth.

I don't have any explicit support fo

[2018-09-26 16:28] sckott commented on #232
@bfgiordano  did you try setting `es_user` and `es_pwd` in `connect()`?

[2018-09-26 17:39] bfgiordano commented on #232
Yes we did but we are using SSL and need to also pass certs which your package does not appear to support directly. We tried setting cainfo to the path to the cert file (.pem) and then doing a connect with username/password but that did not work - no error reported on the connect, but also no data returned from the ES cluster on search request.

Sent from my iPhone

[2018-10-04 06:12] maelle opened #233 "Docs suggestions"
Would you consider adding a pkgdown website to make vignettes easier to access?

I am reading https://ropensci.org/technotes/2017/08/02/elasticsearch-client/ and really like the "What is Elasticsearch?" paragraph. Is this already in the package docs somewhere? If not could it get added to e.g. the README?

[2018-10-04 23:06] sckott opened #234 "es_ver(): what happens when an ES instance doesn't provide version information?"
via https://github.com/metacran/seer/issues/12

ES version information is essentially required to use this pkg.

I think the solution might be to have a separate config option to either

- pass the version info in directly/manually, e.,g. `connect(version = '1.3.9')`
- give a path that the version can be retrived from, has to be similar to what ES gives at the root path, but at a different path, e

[2018-10-04 23:18] sckott commented on #233
we could do the pkgdown, but definitely can not do vignette rendering when the pkgdown builds the site cause it require elasticsearch to be running, so vignettes have to be pre-rendered

no, that paragraph isn't anywhere, we should add it

[2018-10-04 23:19] sckott commented on #229
@Jensxy sorry, v0.9 isn't there yet, you can follow progress on the v0.9 milestone though https://github.com/ropensci/elastic/milestone/8

you can install from github to get the latest though, so you don't have to wait for new cran  version.

[2018-10-05 08:13] maelle commented on #233
Having the whole thing built on Travis would be a nice challenge but probably not worth the effort 😁

[2018-10-05 19:00] sckott commented on #233
yeah, i do test on travis with elasticsearch supported there, so it is possible

[2018-10-05 19:02] maelle commented on #233
ah! It wouldn't avoid the CRAN vignette problem, but it'd make the site building easier. `travis` now has a magical `use_tic()` function (but it'd overwrite the Travis config file) that sets everything up for a deployment of the website on the gh-pages branch. I set it up in ropenscilabs/rodev yesterday to not have to remember to update the website.

[2018-10-10 20:35] sckott commented on #191
sorry, not sure how to do that

[2018-10-30 20:16] Jensxy opened #237 "Deleting multiple documents at once"
I would like to delete multiple documents from a index with a id. For example, I like to delete the documents with the ids test_6, test_7 and test_8. How do I use docs_delete to delete them all at once?

[2018-10-30 20:28] sckott commented on #237
is it okay for your use case to do an lapply or for loop?  e.g.,

[code]

there is the delete by query API, but we don't have it implemented yet https://github.com/ropensci/elastic/issues/195 - does the delete by query API do what you need?

[2018-10-30 20:30] sckott commented on #229
closing for now since this seems sorted in dev version

[2018-10-30 20:30] #229 closed

[2018-10-30 20:35] sckott commented on #230
hmm, it seems there's a pattern to remove more than 1 alias per request https://github.com/elastic/elasticsearch/issues/15186#issuecomment-162029698

not sure if this still works in the current version or. not, havne't tried yet

[2018-10-30 23:48] Jensxy commented on #237
Yes, I will use lapply. Thank you very much.

[2018-10-31 17:20] Jensxy commented on #237
Okay, that would be nice because lapply takes very long. I don't know if delete by query would improve the performance.

[2018-10-31 18:33] sckott commented on #237
i don't know if it would improve either, we'll see

[2018-11-06 17:09] dpmccabe commented on #87
Could this include the ability to have connections to multiple servers? In other words, `connect` returns the connection details for one particular connection and functions like `docs_get` require this object as an argument. This would be similar to design patterns established in packages like DBI. As far as I can tell, there's no graceful way to query two ES instances in the same R script without

[2018-11-06 19:51] sckott commented on #87
Yes, the new setup will allow multiple connections in the same R session. it will look something like (pseudocode)

[code]

[2018-12-03 18:52] olyerickson opened #238 "The screencast in README.md is the "Taxize Tutorial" and is not about elastic"
The wrong screencast link seems to have been pasted in `README.md` ...

[2018-12-03 19:08] #238 closed

[2018-12-03 19:32] olyerickson commented on #238
Thanks!!

[2018-12-07 16:19] dpmccabe opened #239 "Can't bulk update documents with boolean field type"
[code]

I'm using elasticsearch 6.2.3.

This doesn't work:

[code]

Output:

[code]

When initially uploading I can use `docs_bulk` instead of `docs_bulk_update` and this works. However, my use case requires updating.

What's really strange is that if I remove the keyword field so that my only field is the boolean one `x`, `docs_bulk_update` works again:

[code]

Output:

[code]

The only workarou

[2018-12-27 23:43] sckott commented on #87
@dpmccabe @happyshows @Jensxy @emillykkejensen @iainmwallace @kickbox

Would love your feedback on a big change in the package. On branch [r6-conn](https://github.com/ropensci/elastic/tree/r6-conn) I've made it so that the `connect()` call creates an object that you need to pass to every function call. This makes it more explicit that you are interacting with a specific Elasticsearch instance, and

[2018-12-28 01:00] sckott opened #241 "Capture and throw Elasticsearch response hearder warnings for types when given"
related to #180

[2018-12-28 16:00] happyshows commented on #87
I haven't run into a case where I need multiple connection in a session, but I think it would be helpful to have the new version look up a global default connection first (implicit connection) so that most of the code people have developed will be compatible with the latest version. (Maybe throw a warning to people to define connection explicitly in future?)

[2018-12-28 17:26] sckott opened #242 "errors rework for new setup"
https://github.com/ropensci/elastic/blob/r6-conn/R/Elasticsearch.R#L121 here we set the errors user preference as an env var, but this would then overwrite an error preference for another connection object. Make this justs a var in the object itself, and here https://github.com/ropensci/elastic/blob/r6-conn/R/httr-verbs.R#L151 use the conn object error var - will require that we pass conn object t

[2018-12-28 17:33] sckott commented on #87
Thanks for your feedback @happyshows

All new functions are like

[code]

So the `conn` connection object is a required parmeter, and the `is_conn(conn)` line checks that the `conn` object is of the right type.

We could set a default for `conn` like

[code]

but the default is for localhost port 9200 , which I don't imagine is the default for most people? or is it?  but if we had a config file th

[2018-12-28 17:38] Jensxy commented on #87
I like the new feature to interact with a specific Elasticsearch instance. It is really useful if you have a development instance and a production instance.

Good work!

[2018-12-28 17:41] sckott opened #243 "connect: support using a config file with connection details?"
related to #87

I can see a use case for a config file with connection details for 1 or more elasticsearch instances, and then `connect()` pulls in that info. e.g.,

[code]

where

[code]

or to support many, do

[code]

and then call in the details you want like

[code]

or some other thing, not sure 🤔

[2018-12-31 16:43] sckott commented on #237
@Jensxy this is implemented now. `remotes::install_github("ropensci/elastic@r6-conn")` see `docs_delete_by_query()`

[2018-12-31 16:43] #237 closed

[2018-12-31 16:44] sckott commented on #168
done in r6-conn branch

[2018-12-31 16:44] #168 closed

[2018-12-31 17:16] sckott opened #244 "maybe organize related fxns in R6 classes"
related to #87

[2019-01-25 17:17] MonaxGT opened #245 "Search in over 10000 size"
Hi Guys!
I want to thank you for your package!

I have a question, when i try to search in "big" index over 30 days in Kibana i get about 2m documents, but in your package maximum 10000. If i change size option more 10000 i saw error like "Error: 500 - all shards failed". How i can fix this limit? I understand that this limit database and may be i should change my q option but in this situation ca

[2019-01-25 19:13] sckott commented on #245
thanks for your question.

can you try again with `connect(errors = "complete")` and it should give you the Elasticsearch stack trace and report that back here

[2019-01-25 21:14] MonaxGT commented on #245
Hi sckott,

[code]

[2019-01-27 11:02] MonaxGT commented on #245
Hi, if i right undestand i should use scroll api like request, i see in your library option with scroll, but i don't understand how i can use this in cycle....

[2019-01-28 20:38] MonaxGT commented on #245
I find) but now i try find how use this data with raw option
[code]

[2019-01-28 22:55] sckott commented on #245
so your question is how to use `scroll()` with `raw = TRUE` ?

[2019-01-28 22:56] sckott commented on #245
you will probably need to parse the raw JSON yourself to get the scroll id to pass to the next `scroll()` call  in the while loop

[2019-03-10 09:48] Jensxy opened #246 "Use source_excludes in docs_get"
Hi guys,

I like to use `source_excludes` in the `docs_get` function. Something similar to `GET twitter/_doc/1/_source?_source_includes=*.id&_source_excludes=entities`. Is that somehow possible? I want to use `docs_get` because I think it is faster than `Search` to retrieve exactly one document, right?

If I would use `Search`, I would use the following body.

[code]

Best regards,
Jens

[2019-03-10 18:26] sckott commented on #244
i think better to put this off to a later milestone and focus v1 on reorganizing around the new connection class and the big change of passing in the connection object

[2019-03-11 17:27] #241 closed

[2019-03-11 17:43] #242 closed

[2019-03-11 17:45] sckott commented on #246
thanks, i'll take a look soon

[2019-03-11 17:58] sckott commented on #243
no one's asked for this, may revisit if someone asks for it

[2019-03-11 18:02] sckott commented on #234
wil wait to see if others see this problem as well

[2019-03-11 18:05] sckott commented on #201
parent seems to be gone in newer versions of ES, closing

[2019-03-11 18:05] #201 closed

[2019-03-11 18:07] sckott commented on #87
all sorted now AFAICT ton the `r6-conn` branch. Closing this now. Will continue to add work on top of that branch until close to ready to release v1 to cran

[2019-03-11 18:07] #87 closed

[2019-03-11 18:08] sckott commented on #245
closing due to inactivity

[2019-03-11 18:08] #245 closed

[2019-03-11 18:59] sckott commented on #183
done

[2019-03-11 18:59] #183 closed

[2019-03-11 19:10] sckott commented on #246
i don't know which is faster, haven't compared times.

[2019-03-11 19:11] sckott commented on #246
added, on branch r6-conn, `remotes::install_github("ropensci/elastic@r6-conn")`

[2019-03-11 19:11] #246 closed

[2019-03-11 19:36] #211 closed

[2019-03-11 21:44] sckott commented on #226
@Jensxy see new function `pipeline_attachment()` and egs

[2019-03-11 21:44] #226 closed

[2019-03-11 22:34] #195 closed

[2019-03-12 00:11] sckott commented on #196
not beta anymore

[2019-03-12 00:33] #194 closed

[2019-03-12 00:33] #79 closed

[2019-03-12 00:33] #76 closed

[2019-03-12 00:35] sckott commented on #180
still to do:

- [ ] add egs of using `type_remover()` fxn to remove `_type` in bulk eg files so they will work in older and newer ES
- [ ] ...

[2019-04-05 22:06] #239 closed

[2019-04-05 22:56] #180 closed

[2019-04-05 23:02] sckott commented on #131
closing - if anyone else wants this chime in and can reconsider

[2019-04-05 23:02] #131 closed

[2019-04-05 23:02] #207 closed

[2019-04-05 23:30] sckott commented on #233
i started to look at this, but this pkg has a man file called `index`, and that replaces the index.html file, so that's not good. I haven't seen a way to rename a reference .html file. have you?

[2019-04-08 07:48] maelle commented on #233
Ah! That's unfortunate! I've made a PR with a hack, I have run `pkgdown::build_reference()` and the man html page was index-elastic.html which doesn't conflict with index.html the home page of the website. Obviously you might prefer to rename the homepage, which I'm not sure is possible without many efforts?

[2019-04-08 17:40] sckott commented on #233
I would prefer if I could just rename the .html page for the index manual file, but seems not possible

i'll look over at the pr

[2019-04-09 17:03] #233 closed

[2019-04-10 19:36] sckott opened #250 "Add `include_type_name` param for mappings routes"

[2019-04-10 19:45] sckott opened #251 "move all egs to not using types"
see https://www.elastic.co/guide/en/elasticsearch/reference/7.0/removal-of-types.html

- in v7 types are deprecated
- in v8 types will be removed

[2019-04-10 21:29] sckott commented on #250
done in 65e8c74

[2019-04-10 21:29] #250 closed

[2019-05-04 11:49] 4nonym0us opened #252 "[Question\Sugestion] Support WKT point conversion to geo_point type"
Having WKT support only for `geo_shape` and not for `geo_point` is a bit confusing because WKT specification has GeoPoint representation.

Would't it be good to have an option to use WKT's point syntax `POINT (X, Y)` for `geo_point` for consistency as support even for more complex WKT primitives and multipart geometries is already present for `geo_shape`?

[2019-05-05 06:33] 4nonym0us commented on #252
Moving the issue to appropriate repository.

[2019-05-05 06:33] #252 closed

[2019-05-05 15:15] sckott commented on #252
right, i was thinking you probably mean to ask this in https://github.com/elastic/elasticsearch

[2019-05-05 15:18] 4nonym0us commented on #252
@sckott yeah, that's what I did. Sorry for opening issue here (had too much tabs opened in my browser and created issue here accidentally).

[2019-05-07 17:24] Aeilert opened #253 "'docs_bulk'-functionality for ingest attachment-plugin ('pipeline_attachment') ?"
I have a question about pushing documents in bulk with the ingest attachment-plugin. This used to work by setting an additional parameter, `query = 'pipeline=attachment'`, in  `docs_bulk` (tested with version 0.8.4), but no longer seems to work with the current version of the package.

When using `docs_bulk` with a pipeline like the one below,  the data is pushed through to Elasticsearch, but not

[2019-05-07 17:34] Aeilert commented on #251
Question: Does this include changing the behavior of :

[code]
I think setting doc-type to the specified index name as a default option causes a lot of unwanted behavior in ES, especially with the upgrade to v7.

[2019-05-07 17:36] sckott commented on #253
thanks for the detailed report, i'll take a look soon

[2019-05-07 17:43] sckott opened #254 "remove setting type to index if type null"
via #251

[2019-05-07 17:43] sckott commented on #251
good question. i agree does make sense to get rid of that behavior of setting the type to index if type not given. opened an issue since it seems separate enough

[2019-05-08 06:33] Aeilert commented on #251
Okey. Will open a separate issue.

[2019-05-08 06:43] Aeilert commented on #253
Great.

[2019-05-08 07:47] Aeilert opened #255 "Wrong result with example code for 'scroll'"
I don't think the example code for collecting all documents with `scroll` returns the correct result.

[code]
Compare the current example code:

[code]

with:

[code]

which matches the total number of documents:

[code]

Running R 3.5.3 and Elastic 7.0.0 w/ Docker.

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2019-05-15 18:52] sckott commented on #255
thanks @Aeilert

i may be wrong here, but i think you ar missing the fact that the example has a query statement, `q="a*"`, which leads to fewer matches than the total number of documents in that index. thoughts?

[2019-05-15 19:10] sckott commented on #253
So I make sure I understand:

- The second return example with `Search(es.con,"myindex2")` is what you want back?
- You said `query = 'pipeline=attachment'` in the `docs_bulk` call used to work. Do you know if `query = 'pipeline=attachment'` was used as a query parameter in the http request? hard to say how it used to be used. I changed to a different http client a while back, right now any additi

[2019-05-16 06:33] Aeilert commented on #255
Yes, of course. You are completely right.

[2019-05-16 06:58] Aeilert commented on #253
To answer your questions:

- Yes, it is the result of the second example I'm looking for. (Where the ingest pipeline converts the `base64`-encoded `data`-field to a target-field in ES).
-  Yes, I think it was used as an additional parameter to the underlying HTTP request. Similar to this workaround: https://github.com/ropensci/elastic/issues/191. Was it the `httr`-package back then? I did notice t

[2019-05-21 15:41] #255 closed

[2019-05-28 11:33] BenoitFayolle opened #256 "Error in is.url(url) : length(url) == 1 is not TRUE"
Hello! Trying to connect to an AWS ES instance.
[code]
Returns

Looks good!

`Search(x, index=index_str, body=query_str)`
returns

This problem seems to arise from the `construct_url()` function which pastes together url, index, type, id , path where `type` is a named vector of length > 1 containing transport, host, port, path, username, password, errors and headers. I don't understand why it appe

[2019-05-28 18:42] sckott commented on #256
thanks for this. can you show the full `traceback()`?

i'm not sure I follow. what `type` are you referring to?

[2019-05-29 11:29] BenoitFayolle commented on #256
Well, I cannot reproduce this bug anymore, everything started working wonderfully this morning for the first time. I tried the CRAN version and reinstalled the dev version of the package, and both work without any pb.
The `type` i was talking about is the 3rd argument of the `Search()` function. For some reason it was not set to `null` even though i wasn't specifying it in my `Search` call.
Anyway

[2019-05-29 11:29] #256 closed

[2019-05-29 14:22] sckott commented on #256
ok, thanks

[2019-06-03 09:00] maelle opened #257 "new docs site"
https://docs.ropensci.org/elastic/

- change URL in DESCRIPTION and repo settings
- get rid of docs

?

[2019-06-03 17:12] #257 closed

[2019-06-03 17:12] sckott commented on #257
removed

[2019-06-03 17:39] maelle commented on #257
Thanks!

[2019-06-12 07:02] symdeb opened #258 "docs_bulk() - Rgui 3.4 ok. RGui 3.6 argument x is missing with no default"
![Rgui](https://user-images.githubusercontent.com/19564066/59329970-c41ab580-8d22-11e9-816f-fa40dfffaeaa.PNG)

Just follows the example instructions on https://ropensci.org/tutorials/elastic_tutorial/
Rgui 3.4 (Microsoft) and RGUI 3.6 gives different results.

[2019-06-12 18:11] sckott commented on #258
Sorry, that's an older tutorial. Look at the docs here instead https://docs.ropensci.org/elastic/index.html

[2019-06-13 01:53] symdeb commented on #258
Going to the opensci main webpage and following the tutorial link, then this will direct to the old "0.8.0" tutorial I mentioned and not the newer one.  Understandably, incumbent users may not have a problem with this suggest to update the main page to update the links. It's confusing for new uses of R and elastic as myself. I could not find the new API call method using "x" even by by  googling b

[2019-06-13 04:30] symdeb commented on #258
Figured it out . The statement in the tutorial should be  x <- connect(port = 9200)

[2019-06-13 17:35] #258 closed

[2019-06-13 17:36] sckott commented on #258
cleared it up in the readme, fixing the website now

[2019-07-09 08:53] paliwal90 opened #259 "Functions not compatible with ES 7.2"
Hi, after moving to Elastic 7.2 new version, when I use your package, some queries e.g. Search and count are not behaving as it was with earlier version.
For e.g.
```count(index = INDEX_NAME, q="column1:value1")``` works fine.

But
```count(index = INDEX_NAME, q="column1:value1 and column2:value2")``` does not work good. Is AND not compatible? Also aggregations queries doesn't work both in Search

[2019-07-09 23:17] paliwal90 commented on #259
Also track_total_hit is not working with Search. In elasticsearch GET query e.g. https://www.elastic.co/guide/en/elasticsearch/reference/master/search-request-track-total-hits.html says that it should return total hits (not just 1000 and gte relation). But from your R package, in Search query, it doesn't work.

[2019-07-10 10:05] sckott commented on #259
thanks @paliwal90 please also share the output of `sessionInfo()` when `elastic` is loaded

[2019-07-12 21:42] ktang98 opened #260 "docs_bulk_update giving not_x_content_exception"
[code]

Hi I'm trying to use the doc_bulk_update function. The code I pasted is directly from the elastic 1.0.0 documentation. When I run the docs_bulk_update line (without the invisible), I get a "not_x_content_exception error: compressor detection can only be called on some xcontent bytes or compressed xcontent bytes".

What's curious is that in trying to fix the issue, it seems that as long as

[2019-07-17 18:42] sckott commented on #260
thanks for your report.

i'll have a look

[2019-07-17 21:51] sckott commented on #259
@paliwal90 please share `sessionInfo()` when `elastic` is loaded - or else i won't be able to help

[2019-07-18 07:17] paliwal90 commented on #259
Well. Made it work. Needed to change search with new param.

[2019-07-18 16:19] #259 closed

[2019-07-18 21:49] #260 closed

[2019-07-18 21:49] sckott commented on #260
document creation for bulk update is not working correctly when there's only 1 field being updated.

just pushed. a fix, reinstall and try again

[2019-07-18 21:51] sckott opened #261 "warn to throw ES response headers not working everywhere"
via #260

[code]

i think perhaps I just didn't implement this throughout pkg yet, or maybe the warning string pattern changed

[2019-07-18 22:13] #261 closed

[2019-08-09 06:57] mayankgautam opened #263 "connect: Unable to connect to Elasticsearch server using connect"
I'm trying out elastic package to connect to elasticsearch on my system.

But I'm not able to connect using elastic package.

Here is the code that I've used with error message:

I've started the elasticsearch and have checked that the default page was opening in browser properly.

elasticon <- connect(port = 9200)
elasticon$info()

Error:
  Failed to connect to http://127.0.0.1:9200
  Remember to

[2019-08-09 16:23] sckott commented on #263
is Elasticsearch running on localhost/127.0.0.1 and port 9200?

[2019-08-10 04:07] mayankgautam commented on #263
Yes, it is.

On Fri, 9 Aug, 2019, 9:53 PM Scott Chamberlain, <notifications@github.com>
wrote:

[2019-08-13 17:00] sckott commented on #263
Okay, so is there a proxy or some authentication you need to connect to the ES running?

[2019-08-17 09:26] mayankgautam commented on #263
Yes, I'm trying to connect behind a proxy.

I've tried below methods to connect to the server:
set_config(use_proxy(url='http://XXX.XX.XX.XXX', XXXX, 'username@comp.com', 'password'))
set_proxy(proxy("'http://XXX.XX.XX.XXX:XXXX", user = "username@comp.com", pwd = "password"))

But still, I'm not able to connect.

[2019-08-21 21:08] sckott commented on #263
`set_proxy` and  `proxy` are the correct fxns to use as the underlying http library is `crul`, not `httr`. try this:

[code]

`verbose=TRUE` gives verbose curl output, and should give some useful info if the proxy configuration is not working

[2019-09-01 21:31] yvanrichard opened #264 "Same connection across simultaneous shiny sessions?"
Hi there,

I am developing a Shiny app that uses elastic to search text in a large corpus. The query is entered in a textInput, which is then used by Search() to query the ES index. The result with the highlighted text is then displayed in a DT::datatable, but my issue is that the Search query is shared across sessions, so when a user changes the text query, the table gets updated across all users

[2019-09-04 21:52] sckott commented on #264
thanks for the report @yvanrichard

I need to update the docs to clarify what the result of calling `connect()` contains. Sorry about the confusion. Will do that.

Calling `connect()` does not create a connection object like that of a SQL database connection. `connect()` is a thin wrapper around the `Elasticsearch` R6 class https://github.com/ropensci/elastic/blob/master/R/Elasticsearch.R#L90-L231

[2019-09-04 22:23] yvanrichard commented on #264
Eeek... Indeed, it was my mistake. I had the result of the ES query stored in a reactive value, which was declared outside the shinyServer function by mistake, and therefore shared across sessions. Silly me...

Sorry for the bother and thank you for responding, @sckott. And also thank you for your valuable contributions.

[2019-09-04 22:23] #264 closed

[2019-09-04 22:32] sckott opened #265 "Clarify that connect() does not create a DBI-like connection object"
via #264

[2019-09-04 22:32] sckott commented on #264
glad it was figured out. and side benefit that we clarify the docs a bit more

thx for using the pkg

[2019-10-17 14:56] creiche opened #266 "Running R for a long period results in connection failing after a while with error"
We are running a service using Rserve that write out to Elastic.  After running for about a day we start getting these errors when trying to write to Elastic:

Error in file(con, "w") : cannot open the connection
--
  | In addition: Warning message:
  | In file(con, "w") :
  | cannot open file '/tmp/RtmpcyjRf4/elastic__4e86542674e': No such file or directory

This is how we are connecting and writ

[2019-10-17 17:09] sckott commented on #266
thanks for the issue. Please share your R session info as requested and your Elasticsearch version.

I'm guessing it's not possible, but can you run `traceback()` after you see that error?

[2019-10-29 12:30] maelle commented on #234
I tried running

[code]

and ran into the problem mentioned in this issue.

All the possibilities you mention seem ok to me, but in the case I haven't passed an argument and the package guesses the version from the root, I'd expect a message.

[2019-10-29 18:18] sckott commented on #234
thanks @maelle having a look

[2019-10-29 18:26] sckott commented on #234
seems like you don't actually need the `path` defined in `connect()`, eg..,

[code]

[2019-10-29 19:35] maelle commented on #234
Oh, thank you! 🎉

[2019-11-04 23:23] regisoc opened #267 "Wrong results when trying to apply elastic to different versions of Elasticsearch"
Hi,

Before starting, you should know that I'm new to R and its env. Though, I prefer taking the risk to say some stupidies. Correct me if I'm wrong.

I am not sure if elastic is retrocompatible as you claim. I have built 2 examples to show my point.

The first case is direct: I don't have the same results between ES versions, following the ([reference](https://docs.ropensci.org/elastic/reference/

[2019-11-04 23:53] regisoc commented on #267
To complete: here is the `docker-compose.yml` to switch between all versions.

[code]

[2019-11-05 21:48] sckott commented on #267
Thanks for opening the issue @regisoc

For the first issue about `index_create`/`index_exists`, I could not replicate the problem with a local version of Elasticsearch running on my mac, but I COULD replicate using docker with a similar compose file to yours. it looks like its coming from the underlying http client `crul`. the head request in `index_exists` isn't passing along the credentials. fix

[2019-11-05 23:20] sckott commented on #267
For the 2nd problem with docs bulk, I was able to replicate the problem, both with local ES and in docker, and with the same versions that you had a problem with.

However, I was also able to replicate the problem using curl on the command line, completely outside of R. So it's probably not a problem with this package, but more likely an issue with the older versions of Elasticsearch. OR possibly

[2019-11-06 00:38] sckott opened #268 "es_ver parsing when 3rd ES ver slot contains more than one digit"

[2019-11-06 00:38] sckott commented on #268
e.g. fails on v5.6.16

[2019-11-06 00:44] #268 closed

[2019-11-06 00:48] sckott commented on #267
The auth problem with `index_exists` has been fixed, install dev version `remotes::install_github("ropensci/elastic")`, which should install the dev version of `crul` with the fix.

The other problem with docs bulk: I think it's down to mappings. If you don't set a mapping for your index, ES tries to guess, and sometimes a later document has a value that conflicts with the intitial type that ES se

[2019-11-06 16:10] regisoc commented on #267
Ok, thanks. I will update and try it soon.

[2019-12-20 11:29] EmilBode opened #269 "index_analyze throwing incorrect warning when filters == NULL"
As in the title:
For example
`index_analyze(my_inst, "sometext", analyzer='standard')`
will generate a warning (`Calling 'structure(NULL, *)' is deprecated, as NULL cannot have attributes.
  Consider 'structure(list(), *)' instead.`)

As far as I can see, this is due to line 15 in `index_analyze` (line 478 in file R/index.R), where `I(filters)` and `I(char_filters)` is called. This is as `I(NULL)`

[2019-12-20 19:33] #269 closed

[2019-12-20 19:34] sckott commented on #269
thanks for the report and proposed fix - fixed now. reinstall `remotes::install_github("ropensci/elastic")` and the warning should be gone

[2019-12-20 19:36] sckott commented on #267
assuming this is fixed

[2019-12-20 19:36] #267 closed

[2019-12-20 19:37] sckott commented on #232
@bfgiordano  sorry for long delay in responding here - In the current version of `elastic`, we should now be able to support certs, see `?connect` and the examples - let me know if it works for you

[2019-12-20 19:48] #265 closed

[2020-01-03 23:20] sckott commented on #254
work on branch `type-scrubbing`

[2020-01-03 23:20] sckott commented on #251
work on branch `type-scrubbing`

[2020-01-10 17:30] #251 closed

[2020-01-10 17:30] #254 closed

[2020-01-10 17:42] #232 closed

[2020-01-10 17:44] sckott commented on #196
looks like you just set this in the body on index create, so no changes needed AFAICT

[2020-01-10 17:44] #196 closed

[2020-01-10 18:02] sckott commented on #193
if someone asks for this can implement then

[2020-01-10 18:02] #193 closed

[2020-01-10 18:03] #192 closed

[2020-01-10 18:48] regisoc opened #271 "Missing data with `docs_bulk*` on new index"
Hi,

I am using ES version **6.8.3**, via docker ([docker.elastic.co/elasticsearch/elasticsearch:6.8.3](https://www.docker.elastic.co/))

I tried to push tidyverse datasets (`storms` here) to test several cases, and this happened:

[code]

If the index is deleted and then reconstructed (with `index_delete -> index_create` or `index_recreate`), the number of records registered in ES (`r$hits$total`

[2020-01-10 19:24] #266 closed

[2020-01-10 19:24] #263 closed

[2020-01-10 19:25] #253 closed

[2020-01-10 19:25] sckott commented on #253
Yes, it was the httr pkg back then

Okay, just pushed a change, I think this should work for you now, if you're still interested. See the query param in docs_bulk

[2020-01-10 19:25] sckott commented on #253
@Aeilert 👆

[2020-01-10 19:43] sckott commented on #271
thanks @regisoc for the issue.

`create` is not an exported or even internal function, i assume you mean `index_create`?

Part of the discrepancy may be due to not waiting until the data are "available".
[code]

For example, compare these two:

[code]

vs.

[code]

But looking at logs I'm seeing that the indexing is running into errors, e.g., `mapper [hu_diameter] cannot be changed from type [long